/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
/*--------------------------------------- Mixins Ends -------------------------------------*/
html {
  height: 100%;
}

body {
  background-color: #f5fcff;
  background-color: #ffffff;
  background-size: auto;
  color: #303030;
  display: block;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #0cbfdf;
  text-decoration: none;
  transition: 250ms ease-in-out;
}

a:link, a:visited {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover, a:focus, a:active {
  color: #0cbfdf;
  transition: 250ms ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Outfit", sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  line-height: 80px;
}

h2 {
  font-size: 46px;
  line-height: 58px;
}

h2 span {
  font-size: 24px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0;
}

p:not(:last-of-type) {
  margin-bottom: 18px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.slick-slider .slick-slide {
  outline: none;
}

.custom-container {
  max-width: 1920px;
  margin: auto;
  padding: 120px 310px;
}

.custom-container.remove-top-padding {
  padding-top: 0;
}

.custom-container.remove-bottom-padding {
  padding-bottom: 0;
}

.custom-container.remove-right-padding {
  padding-right: 0;
}

.custom-container.remove-top-bottom-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.custom-container.type-small {
  padding-top: 80px;
  padding-bottom: 80px;
}

.center {
  text-align: center;
}

.section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6 {
  color: #0cbfdf;
  font-weight: 600;
}

.section-title h1.type-white, .section-title h2.type-white, .section-title h3.type-white, .section-title h4.type-white, .section-title h5.type-white, .section-title h6.type-white {
  color: #ffffff;
}

.section-title h4 {
  color: #303030;
  font-weight: 600;
}

.section-title h5 {
  font-weight: 700;
}

.section-body {
  margin-top: 30px;
}

.section-links {
  margin-top: 40px;
}

.co-btn {
  border: 0;
  color: #303030;
  display: flex;
  align-items: center;
  line-height: 1em;
  outline: none;
  transition: 250ms ease-in-out;
  width: auto;
}

.co-btn:after {
  content: '\e5cc';
  display: block;
  font-family: 'Material Symbols Sharp';
  font-weight: 700;
  margin-left: 10px;
}

.co-btn.type-fill {
  display: inline-block;
  padding: 18px 60px;
  background-color: #0cbfdf;
  color: #ffffff;
  border-radius: 5px;
}

.co-btn.type-fill:hover, .co-btn.type-fill:focus, .co-btn.type-fill:active {
  background-color: #2ad5f4;
  color: #ffffff;
}

.co-btn.type-fill:after {
  display: none;
}

.co-btn.full-width {
  width: 100%;
}

.co-btn:hover, .co-btn:focus, .co-btn:active {
  color: #0cbfdf;
  transition: 250ms ease-in-out;
}

/*# sourceMappingURL=global.css.map */