/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
/*--------------------------------------- Mixins Ends -------------------------------------*/
@media all and (max-width: 1800px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 120px 250px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .custom-container .nav-bar {
    padding-left: 100px;
  }
  #header-wrapper .custom-container .nav-bar ul li {
    padding: 55px 0;
  }
  #header-wrapper .custom-container .nav-bar ul:last-child li a {
    padding: 20px 50px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-us .custom-container .image-container {
    max-width: 55%;
    right: 250px;
  }
  #content-wrapper #about-page .custom-container .block-container .block-item .section-container {
    padding: 60px 100px 70px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child {
    padding-left: 100px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper {
    margin: -30px -50px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper .service-item {
    padding: 30px 50px;
  }
  #content-wrapper #projects-page .custom-container .projects-title {
    margin-bottom: 100px;
  }
  #content-wrapper #contact-page .contact-details .contact-wrapper {
    padding-left: 60px;
  }
  #content-wrapper #contact-page .map-wrapper .map-item:last-child {
    padding: 0 80px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  .our-mission .custom-container .section-container {
    max-width: 1000px;
  }
}

@media all and (max-width: 1699px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 100px 200px;
  }
  h1 {
    font-size: 58px;
    line-height: 68px;
  }
  h2 {
    font-size: 45px;
    line-height: 55px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .custom-container .nav-bar ul li {
    padding: 50px 0;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-us .custom-container .image-container {
    right: 200px;
  }
  #content-wrapper #about-page .custom-container .block-container .block-item .section-container {
    padding: 60px 80px 80px;
  }
  #content-wrapper #about-page .our-team .custom-container .team-wrapper {
    margin: -25px -15px;
  }
  #content-wrapper #about-page .our-team .custom-container .team-wrapper .team-item {
    padding: 25px 15px;
  }
  #content-wrapper #about-page .our-team .custom-container .team-wrapper .team-item .image-container {
    height: 140px;
    width: 140px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:first-child {
    width: 400px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child {
    padding-left: 80px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper {
    margin: -30px -40px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper .service-item {
    padding: 30px 40px;
  }
  #content-wrapper #projects-page .custom-container .projects-title {
    margin-bottom: 80px;
  }
  #content-wrapper #contact-page .contact-details .contact-wrapper {
    padding-left: 30px;
  }
  #content-wrapper #media-page .media-wrapper .block-container {
    margin: -25px;
  }
  #content-wrapper #media-page .media-wrapper .block-container .blog-card-ver {
    padding: 25px;
  }
  #content-wrapper #media-page .media-wrapper .block-container .blog-card-ver .section-container .section-links {
    margin-top: 25px;
  }
  #content-wrapper #single-page .similar-projects .section-body {
    margin-top: 40px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .custom-container .footer-widget .info-widget li {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 40px;
  }
  #footer-wrapper .custom-container .footer-widget .info-widget li .image-container {
    width: 18px;
    height: 18px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  .our-mission .custom-container .section-container {
    max-width: 90%;
  }
}

@media all and (max-width: 1599px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 100px 150px;
  }
  .section-links {
    margin-top: 30px;
  }
  .co-btn.type-fill {
    padding: 15px 40px;
  }
  h1 {
    font-size: 45px;
    line-height: 55px;
  }
  h2 {
    font-size: 40px;
    line-height: 50px;
  }
  h4 {
    font-size: 20px;
    line-height: 25px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .custom-container .logo-wrapper img {
    width: 250px;
  }
  #header-wrapper .custom-container .nav-bar {
    padding-left: 0;
  }
  #header-wrapper .custom-container .nav-bar ul li {
    padding: 40px 0;
  }
  #header-wrapper .custom-container .nav-bar ul li:not(:last-of-type) {
    margin-right: 60px;
  }
  #header-wrapper .custom-container .nav-bar ul:last-child {
    margin-left: 60px;
  }
  #header-wrapper .custom-container .nav-bar ul:last-child li a {
    padding: 15px 40px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-us .custom-container .image-container {
    right: 150px;
  }
  #content-wrapper #home-page .our-impact .custom-container .section-container .section-body {
    margin-top: 40px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container .image-container .quote {
    height: 90px;
    width: 90px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container .image-container .quote img {
    width: 45px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container .section-title h1 {
    font-size: 55px;
    line-height: 65px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container .section-title h2 {
    font-size: 22px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container .section-body {
    width: 60%;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .div4 .section-container .section-body {
    margin-top: 30px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .div4 .section-container .section-body h1 {
    margin-top: 20px;
    font-size: 20px;
  }
  #content-wrapper #home-page .our-approach .custom-container .section-container .section-body {
    margin-top: 60px;
  }
  #content-wrapper #home-page .our-approach .block-container .block-item .section-container .image-container {
    max-width: 100px;
  }
  #content-wrapper #home-page .our-approach .block-container .block-item .section-container .section-title {
    margin-top: 30px;
  }
  #content-wrapper #about-page .custom-container .block-container .block-item .section-container {
    padding: 60px 60px 70px;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container .impact-item .section-container .section-title h1 {
    font-size: 55px;
    line-height: 60px;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container .impact-item .section-container .section-title h2 {
    font-size: 22px;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container .impact-item .section-container .section-body {
    width: 75%;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child {
    padding-left: 60px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper {
    margin: -30px -30px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper .service-item {
    padding: 30px 30px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .section-container .image-container {
    max-width: 100px;
  }
  #content-wrapper #contact-page .custom-container .contact-title .socials .social-widget li a .image-container {
    width: 50px;
    height: 50px;
    padding: 15px 0;
  }
  #content-wrapper #contact-page .contact-details .contact-wrapper {
    padding-left: 30px;
  }
  #content-wrapper #contact-page .map-wrapper .map-item:last-child {
    padding: 0 60px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .custom-container .footer-widget .map-widget li:not(:last-of-type) {
    margin-bottom: 20px;
  }
  #footer-wrapper .custom-container .footer-widget .newsletter-widget input {
    font-size: 23px;
  }
  #footer-wrapper .custom-container .footer-widget .newsletter-widget input::placeholder {
    font-size: 15px;
  }
  #footer-wrapper .custom-container .footer-widget .social-widget li a .image-container {
    width: 50px;
    height: 50px;
    padding: 15px 0;
  }
  #footer-wrapper .custom-container .footer-widget:first-child {
    padding-right: 80px;
  }
  #footer-wrapper .custom-container .footer-widget:nth-child(2) {
    padding-left: 100px;
  }
  #footer-wrapper .custom-container .footer-widget:last-child {
    padding-left: 150px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper .card-item .section-container .section-info {
    margin-top: 25px;
  }
  .card-wrapper.type-blogs {
    margin: -30px -10px;
  }
  .card-wrapper.type-blogs .card-item {
    padding: 30px 10px;
  }
  .card-wrapper.type-blogs .card-item .section-container .image-container {
    height: 275px;
  }
  .common-background .back-wrapper {
    max-width: 50%;
  }
  .common-background.without-filter .back-wrapper {
    max-width: 50%;
  }
  .common-pagination ul li a {
    height: 50px;
    width: 50px;
  }
  .common-pagination.type-blogs {
    margin-top: 60px;
  }
  .common-title {
    max-width: 650px;
  }
  .common-title.medium-margin {
    max-width: 650px;
  }
  .introduction .global-container {
    margin: 0 -40px;
  }
  .introduction .global-container .block-item {
    padding: 40px;
  }
  .our-mission .custom-container .section-container {
    max-width: 80%;
  }
  .slider-box .banner-item {
    height: 400px;
  }
  .slider-box .banner-item .text-container .section-container {
    padding: 30px;
  }
  .slider-box .banner-item .text-container .section-container .section-links {
    margin-top: 15px;
  }
  .slider-box.type-about .banner-item {
    height: 350px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
}

@media all and (max-width: 1299px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 80px 100px;
  }
  .co-btn.type-fill {
    padding: 15px 30px;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
  h3 {
    font-size: 25px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .custom-container .logo-wrapper img {
    width: 225px;
  }
  #header-wrapper .custom-container .nav-bar ul li {
    padding: 30px 0;
  }
  #header-wrapper .custom-container .nav-bar ul li:not(:last-of-type) {
    margin-right: 50px;
  }
  #header-wrapper .custom-container .nav-bar ul:last-child {
    margin-left: 50px;
  }
  #header-wrapper .custom-container .nav-bar ul:last-child li a {
    padding: 15px 30px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-us .custom-container .image-container {
    right: 100px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container {
    padding: 40px 30px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container .image-container .quote {
    height: 80px;
    width: 80px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container .image-container .quote img {
    width: 40px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container .section-title h1 {
    font-size: 45px;
    line-height: 50px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container .section-title h2 {
    font-size: 20px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .div3 .image-container {
    right: 30px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .div4 .section-container {
    padding: 40px 30px;
  }
  #content-wrapper #home-page .our-approach .block-container .block-item .section-container .image-container {
    max-width: 80px;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .section-container .image-container {
    height: 300px;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .blog-card-ver {
    align-items: flex-start;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .blog-card-ver .image-container {
    height: 100px;
    width: 130px;
  }
  #content-wrapper #about-page .custom-container .block-container .block-item .section-container {
    padding: 60px 60px;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container .impact-item .section-container {
    padding: 40px 30px;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container .impact-item .section-container .section-title h1 {
    font-size: 45px;
    line-height: 50px;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container .impact-item .section-container .section-title h2 {
    font-size: 20px;
  }
  #content-wrapper #about-page .our-team .custom-container .team-wrapper .team-item .image-container {
    height: 100px;
    width: 100px;
  }
  #content-wrapper #projects-page .custom-container .projects-title {
    margin-bottom: 80px;
  }
  #content-wrapper #projects-page .custom-container .projects-title .projects-overview h1 {
    font-size: 40px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child {
    padding-left: 50px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper {
    margin: -30px -25px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper .service-item {
    padding: 30px 25px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .section-container .image-container {
    max-width: 80px;
  }
  #content-wrapper #media-page .media-wrapper .block-container {
    margin: -15px;
  }
  #content-wrapper #media-page .media-wrapper .block-container .blog-card-ver {
    padding: 15px;
  }
  #content-wrapper #media-page .media-wrapper .block-container .blog-card-ver .section-container .section-links {
    margin-top: 25px;
  }
  #content-wrapper #single-page .article-content .section-container .image-container {
    margin: 30px 0;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .custom-container .footer-widget .logo-wrapper {
    width: 175px;
  }
  #footer-wrapper .custom-container .footer-widget .info-widget li {
    padding-left: 30px;
  }
  #footer-wrapper .custom-container .footer-widget .map-widget li:not(:last-of-type) {
    margin-bottom: 15px;
  }
  #footer-wrapper .custom-container .footer-widget:first-child {
    padding-right: 60px;
  }
  #footer-wrapper .custom-container .footer-widget:nth-child(2) {
    padding-left: 60px;
  }
  #footer-wrapper .custom-container .footer-widget:last-child {
    padding-left: 150px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper .card-item .section-container .section-info {
    margin-top: 20px;
  }
  .common-background .back-wrapper {
    max-width: 70%;
  }
  .common-background.without-filter .back-wrapper {
    max-width: 70%;
  }
  .common-form .fields .form-group input, .common-form .fields .form-group select, .common-form .fields .form-group textarea {
    padding: 15px 20px;
  }
  .common-form .form-action {
    margin-top: 30px;
  }
  .common-form .wpcf7-response-output {
    margin: 30px 0 0 0 !important;
  }
  .common-title {
    max-width: 500px;
  }
  .common-title.medium-margin {
    max-width: 500px;
    margin-bottom: 80px;
  }
  .our-mission .custom-container .section-container {
    max-width: 75%;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
}

@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 80px;
  }
  .co-btn.type-fill {
    padding: 12.5px 30px;
  }
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
  h2 {
    font-size: 28px;
    line-height: 30px;
  }
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .custom-container .logo-wrapper img {
    width: 200px;
  }
  #header-wrapper .custom-container .nav-bar ul li:not(:last-of-type) {
    margin-right: 30px;
  }
  #header-wrapper .custom-container .nav-bar ul:last-child {
    margin-left: 30px;
  }
  #header-wrapper .custom-container .nav-bar ul:last-child li a {
    padding: 12.5px 30px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-us .custom-container .image-container {
    right: 80px;
  }
  #content-wrapper #home-page .our-approach .custom-container .section-container .section-body {
    margin-top: 40px;
  }
  #content-wrapper #home-page .our-approach .block-container {
    margin: -15px;
  }
  #content-wrapper #home-page .our-approach .block-container .block-item {
    padding: 15px;
  }
  #content-wrapper #about-page .custom-container .block-container .block-item .section-container {
    padding: 40px;
  }
  #content-wrapper #projects-page .custom-container .projects-title {
    margin-bottom: 60px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child {
    padding-left: 40px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper {
    margin: -30px -20px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper .service-item {
    padding: 30px 20px;
  }
  #content-wrapper #contact-page .custom-container .contact-title .common-title {
    max-width: 50%;
  }
  #content-wrapper #contact-page .contact-details {
    background-size: 150px;
  }
  #content-wrapper #contact-page .contact-details .contact-wrapper {
    display: flex;
    width: calc(100% - 150px);
    padding-left: 30px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-title {
    max-width: 60%;
  }
  .common-title.medium-margin {
    max-width: 60%;
    margin-bottom: 60px;
  }
  .common-title.small-margin {
    margin-bottom: 60px;
  }
  .introduction .global-container {
    margin: 0 -30px;
  }
  .introduction .global-container .block-item {
    padding: 30px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
}

@media all and (max-width: 999px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 60px;
  }
  .custom-container.type-small {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .custom-container {
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
  }
  #header-wrapper .custom-container .logo-wrapper img {
    width: 175px;
  }
  #header-wrapper .custom-container .nav-bar {
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
    opacity: 0;
    pointer-events: none;
    background-color: #ffffff;
    position: fixed;
    padding-left: 0;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s all ease;
  }
  #header-wrapper .custom-container .nav-bar .close-menu {
    display: block;
    padding: 7.5px 60px;
    background-color: #0cbfdf;
    text-align: right;
    color: #FFF4E2;
    cursor: pointer;
  }
  #header-wrapper .custom-container .nav-bar .close-menu span {
    display: block;
  }
  #header-wrapper .custom-container .nav-bar ul {
    display: block;
    margin-top: 30px;
  }
  #header-wrapper .custom-container .nav-bar ul li {
    padding: 0;
    text-align: center;
  }
  #header-wrapper .custom-container .nav-bar ul li:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  #header-wrapper .custom-container .nav-bar ul:last-child {
    margin-top: 40px;
    margin-left: 0;
  }
  #header-wrapper .custom-container .mobile-toggle {
    display: flex;
    align-items: center;
    color: #0cbfdf;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 2px;
    cursor: pointer;
  }
  #header-wrapper .custom-container .mobile-toggle span {
    display: block;
    margin-left: 10px;
    font-size: 30px;
    font-variant: initial;
  }
  #header-wrapper .custom-container.menu-open .nav-bar {
    opacity: 1;
    pointer-events: initial;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-us .custom-container {
    padding-top: 100px;
    padding-bottom: 130px;
  }
  #content-wrapper #home-page .about-us .custom-container .section-container {
    max-width: 50%;
  }
  #content-wrapper #home-page .about-us .custom-container .section-container .section-body {
    max-width: 75%;
  }
  #content-wrapper #home-page .about-us .custom-container .image-container {
    right: 60px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 30px;
    grid-column-gap: 0;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .section-container {
    padding: 30px;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .div1, #content-wrapper #home-page .our-impact .custom-container .parent .div2, #content-wrapper #home-page .our-impact .custom-container .parent .div3, #content-wrapper #home-page .our-impact .custom-container .parent .div4 {
    width: 100%;
  }
  #content-wrapper #home-page .our-approach .block-container {
    margin: -30px 0;
  }
  #content-wrapper #home-page .our-approach .block-container .block-item {
    padding: 30px 0;
    width: 50%;
  }
  #content-wrapper #home-page .blog .custom-container .block-container {
    margin: -15px -0px;
    flex-wrap: wrap;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item {
    width: 100%;
    padding: 15px 0px;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .section-container .image-container {
    height: 300px;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .blog-card-ver {
    border-left: 0;
    padding: 30px 0;
    border-top: 1px solid #5F564A33;
    border-bottom: 1px solid #5F564A33;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .blog-card-ver:first-child {
    padding-top: 30px;
  }
  #content-wrapper #about-page .with-bg {
    background-size: 30%;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container {
    margin: -10px;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container .impact-item {
    width: 50%;
    padding: 10px;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container .impact-item .section-container {
    padding: 40px 30px;
  }
  #content-wrapper #about-page .custom-container .block-container .block-item .section-container {
    padding: 40px 30px;
  }
  #content-wrapper #about-page .our-team .custom-container .team-wrapper {
    margin: -15px -7.5px;
  }
  #content-wrapper #about-page .our-team .custom-container .team-wrapper .team-item {
    width: 33.33%;
    padding: 15px 7.5px;
  }
  #content-wrapper #projects-page .custom-container .projects-title {
    margin-bottom: 60px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:first-child {
    width: 100%;
    margin-bottom: 60px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child {
    width: 100%;
    padding-left: 0;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper {
    margin: -15px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper .service-item {
    padding: 15px;
  }
  #content-wrapper #contact-page .custom-container .contact-title {
    flex-wrap: wrap;
  }
  #content-wrapper #contact-page .custom-container .contact-title .common-title {
    max-width: 100%;
  }
  #content-wrapper #contact-page .custom-container .contact-title .socials {
    width: 100%;
    text-align: left;
    margin-top: 30px;
  }
  #content-wrapper #contact-page .custom-container .contact-title .socials .social-widget li a .image-container {
    width: 40px;
    height: 40px;
    padding: 11px 0;
  }
  #content-wrapper #contact-page .contact-details {
    background-size: 200px;
  }
  #content-wrapper #contact-page .contact-details .contact-wrapper {
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
  }
  #content-wrapper #contact-page .contact-details .contact-wrapper .contact-item {
    width: 33.33%;
    padding: 30px;
  }
  #content-wrapper #contact-page .map-wrapper .map-item {
    width: 100%;
  }
  #content-wrapper #contact-page .map-wrapper .map-item iframe {
    height: 400px;
  }
  #content-wrapper #contact-page .map-wrapper .map-item:last-child {
    padding: 0;
    margin-top: 30px;
  }
  #content-wrapper #media-page .media-wrapper .block-container .blog-card-ver {
    width: 100%;
  }
  #content-wrapper #media-page .media-wrapper .block-container .blog-card-ver .image-container {
    height: 100px;
    width: 150px;
  }
  #content-wrapper #media-page .media-wrapper .block-container .blog-card-ver .section-container .section-links {
    margin-top: 25px;
  }
  #content-wrapper #single-page .article-content .section-container .section-body ul {
    margin-left: 17px;
  }
  #content-wrapper #single-gallery-page .grid-container .grid-item {
    width: 50%;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .custom-container {
    flex-wrap: wrap;
  }
  #footer-wrapper .custom-container .footer-widget {
    padding: 0;
    width: 100%;
  }
  #footer-wrapper .custom-container .footer-widget .map-widget li:not(:last-of-type) {
    margin-bottom: 10px;
  }
  #footer-wrapper .custom-container .footer-widget .social-widget li a .image-container {
    width: 40px;
    height: 40px;
    padding: 11px 0;
  }
  #footer-wrapper .custom-container .footer-widget:first-child {
    border-right: 0;
    padding-right: 0;
    padding-top: 60px;
  }
  #footer-wrapper .custom-container .footer-widget:nth-child(2) {
    padding-left: 0;
    margin: 30px 0;
  }
  #footer-wrapper .custom-container .footer-widget:last-child {
    padding-left: 0;
    padding-bottom: 60px;
    width: 100%;
    flex: 1;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper .card-item {
    width: 50%;
  }
  .card-wrapper .card-item .section-container .section-info {
    margin-top: 15px;
  }
  .common-pagination ul li a {
    height: 40px;
    width: 40px;
  }
  .common-pagination ul li:not(:last-of-type) {
    margin-right: 15px;
  }
  .map .map-item iframe {
    height: 400px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
}

@media all and (max-width: 799px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  h1 {
    font-size: 28px;
    line-height: 32px;
  }
  h2 {
    font-size: 25px;
    line-height: 30px;
  }
  h3 {
    font-size: 22px;
    line-height: 25px;
  }
  h4 {
    font-size: 17px;
    line-height: 20px;
  }
  h5 {
    font-size: 16px;
    line-height: 18px;
  }
  .custom-container {
    padding: 60px 30px;
  }
  .custom-container.type-small {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .top-wrapper .custom-container .info-widget li:not(:last-of-type) {
    display: none;
    margin-right: 30px;
  }
  #header-wrapper .custom-container {
    padding: 5px 30px;
  }
  #header-wrapper .custom-container .nav-bar .close-menu {
    padding: 7.5px 30px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-us .custom-container {
    padding-top: 60px;
    padding-bottom: 0;
  }
  #content-wrapper #home-page .about-us .custom-container .section-container {
    max-width: 100%;
  }
  #content-wrapper #home-page .about-us .custom-container .section-container .section-body {
    max-width: 90%;
  }
  #content-wrapper #home-page .about-us .custom-container .image-container {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    right: initial;
    z-index: -1;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .div3 .image-container {
    right: 0;
  }
  #content-wrapper #home-page .our-impact .custom-container .parent .div3 .image-container img {
    width: 50%;
    margin-left: auto;
    display: block;
  }
  #content-wrapper #home-page .our-projects .custom-container {
    padding-bottom: 30px;
  }
  #content-wrapper #home-page .our-projects .custom-container .section-container {
    flex-wrap: wrap;
  }
  #content-wrapper #home-page .our-projects .custom-container .section-container .section-title {
    width: 100%;
    margin-bottom: 0;
  }
  #content-wrapper #home-page .our-projects .custom-container .section-container .section-body {
    flex-wrap: wrap;
    margin-left: 0;
  }
  #content-wrapper #home-page .our-projects .custom-container .section-container .section-body p {
    width: 100%;
  }
  #content-wrapper #home-page .our-projects .custom-container .section-container .section-body .co-btn {
    margin-top: 15px;
  }
  #content-wrapper #home-page .our-approach .block-container {
    margin: -15px 0;
  }
  #content-wrapper #home-page .our-approach .block-container .block-item {
    padding: 15px 0;
    width: 100%;
  }
  #content-wrapper #home-page .blog .custom-container .section-container {
    flex-wrap: wrap;
  }
  #content-wrapper #home-page .blog .custom-container .section-container .section-title {
    width: 100%;
    margin-bottom: 0;
  }
  #content-wrapper #home-page .blog .custom-container .section-container .section-body {
    flex-wrap: wrap;
    margin-left: 0;
  }
  #content-wrapper #home-page .blog .custom-container .section-container .section-body p {
    width: 100%;
  }
  #content-wrapper #home-page .blog .custom-container .section-container .section-body .co-btn {
    margin-top: 15px;
  }
  #content-wrapper #home-page .blog .custom-container .block-container {
    margin: -15px -0px;
    flex-wrap: wrap;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item {
    width: 100%;
    padding: 15px 0px;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .section-container .image-container {
    height: auto;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .section-container .section-links {
    margin-top: 10px;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .blog-card-ver {
    border-left: 0;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .blog-card-ver .section-container {
    margin-left: 15px;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .blog-card-ver:first-child {
    padding-top: 0;
  }
  #content-wrapper #home-page .blog .custom-container .block-container .block-item .blog-card-ver:not(:last-of-type) {
    margin-bottom: 15px;
  }
  #content-wrapper #about-page .with-bg {
    background-size: none;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container .impact-item {
    width: 100%;
  }
  #content-wrapper #about-page .our-impact .custom-container .impact-container .impact-item .section-container {
    padding: 30px;
  }
  #content-wrapper #about-page .custom-container .block-container .block-item {
    width: 100%;
    min-height: 200px;
  }
  #content-wrapper #about-page .our-team .custom-container .team-wrapper .team-item {
    width: 50%;
  }
  #content-wrapper #projects-page .custom-container .projects-title {
    flex-wrap: wrap;
  }
  #content-wrapper #projects-page .custom-container .projects-title .projects-overview {
    margin-top: 30px;
  }
  #content-wrapper #services-page .custom-container .block-container .block-item:last-child .service-wrapper .service-item {
    width: 100%;
  }
  #content-wrapper #contact-page .contact-details {
    background-size: 200px;
  }
  #content-wrapper #contact-page .contact-details .contact-wrapper {
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
  }
  #content-wrapper #contact-page .contact-details .contact-wrapper .contact-item {
    width: 100%;
  }
  #content-wrapper #contact-page .contact-details .contact-wrapper .contact-item:nth-child(2) {
    padding-top: 0;
    padding-bottom: 0;
  }
  #content-wrapper #media-page .media-wrapper .block-container .blog-card-ver {
    width: 100%;
  }
  #content-wrapper #media-page .media-wrapper .block-container .blog-card-ver .image-container {
    height: 100px;
    width: 130px;
  }
  #content-wrapper #media-page .media-wrapper .block-container .blog-card-ver .section-container .section-links {
    margin-top: 15px;
  }
  #content-wrapper #single-page .article-content .section-container .section-info ul {
    justify-content: flex-start;
  }
  #content-wrapper #single-page .article-content .section-container .section-title {
    text-align: left;
  }
  #content-wrapper #single-page .article-content .section-container .image-container {
    min-height: 250px;
  }
  #content-wrapper #single-page .article-content .section-container .section-date {
    text-align: left;
  }
  #content-wrapper #single-page .similar-projects .section-body {
    margin-top: 30px;
  }
  #content-wrapper #single-gallery-page .grid-container {
    margin: -7.5px;
  }
  #content-wrapper #single-gallery-page .grid-container .grid-item {
    padding: 7.5px;
    width: 100%;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper {
    margin: 0;
  }
  .card-wrapper .card-item {
    width: 100%;
    padding: 0;
  }
  .card-wrapper .card-item .section-container .image-container {
    height: 200px;
  }
  .card-wrapper .card-item .section-container .section-links {
    margin-top: 10px;
  }
  .card-wrapper .card-item:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .card-wrapper.type-blogs {
    margin: 0;
  }
  .card-wrapper.type-blogs .card-item {
    padding: 0;
  }
  .card-wrapper.type-blogs .card-item .section-container .image-container {
    height: 200px;
  }
  .common-flex-container {
    flex-wrap: wrap;
  }
  .common-flex-container .section-title, .common-flex-container .section-body {
    width: 100%;
    margin-left: 0;
  }
  .common-title {
    max-width: 100%;
  }
  .common-title.medium-margin {
    max-width: 100%;
  }
  .introduction .global-container {
    margin: 0;
  }
  .introduction .global-container .block-item {
    padding: 0;
    width: 100%;
  }
  .introduction .global-container .block-item .section-container .image-container img {
    max-width: 350px;
    margin: 0 auto;
  }
  .introduction .global-container .block-item:first-child {
    margin-bottom: 30px;
  }
  .our-mission .custom-container .section-container {
    max-width: 100%;
    text-align: left;
  }
  .slider-box .banner-item {
    height: 275px;
    margin: 0 5px;
  }
  .slider-box .banner-item .text-container {
    width: 100%;
  }
  .slider-box .banner-item .text-container .section-container {
    padding: 20px;
  }
  .slider-box .slick-slider .slick-prev {
    left: 30px;
  }
  .slider-box .slick-slider .slick-next {
    right: 30px;
  }
  .slider-box .slick-slider .slick-prev, .slider-box .slick-slider .slick-next {
    height: 50px;
    width: 50px;
  }
  .slider-box .slick-slider .slick-prev:before, .slider-box .slick-slider .slick-next:before {
    font-size: 18px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  #bookingModal .modal-dialog {
    margin: auto 30px;
  }
  #bookingModal .modal-content {
    border-radius: 5px;
  }
  /*--------------------------------------- Modal Ends --------------------------------------*/
}

/*# sourceMappingURL=responsive.css.map */