
/*-------------------------------------- Fonts Starts -------------------------------------*/
$font-type-1: 'Rubik', sans-serif;
$font-type-2: 'Manrope', sans-serif;
/*--------------------------------------- Fonts Ends --------------------------------------*/

/*------------------------------------- Colors Starts -------------------------------------*/
$primary-color: hsl(189, 90%, 46%);
$primary-color-dark: hsl(189, 90%, 36%);
$primary-color-light: hsl(189, 90%, 56%);
$secondary-color: hsl(102, 63%, 60%);

$border-color: #C0C0C0;

$placeholder-background: hsl(199, 100%, 98%);
$placeholder-background-green: hsl(199, 100%, 98%);
$light-yellow: #FFF4E2;

$title-color: #145F4B;
$text-color: #303030;

$white-color: #ffffff;
$black-color: #000000;
$black-color-light: #121212;
$yellow-color: #FFCF24;
/*-------------------------------------- Colors Ends --------------------------------------*/

/*-------------------------------------- Mixins Starts ------------------------------------*/
/*--------------------------------------- Mixins Ends -------------------------------------*/
