/**
 * Created by Sushant Gauchan
 * Email : sushant.gauchan11@gmail.com
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.ex-flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.ex-vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ex-transition {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.ex-transition-medium {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.ex-transition-large {
  -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease;
}

/*--------------------------------------- Mixins Ends -------------------------------------*/
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: glacial-regular;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6em;
  color: #5c5c5c;
  background-color: #fcfaf1;
  background-image: url("../img/elements/background-texture-1.png");
  background-repeat: repeat;
  display: block;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link, a:visited {
  text-decoration: none;
}

a:focus {
  outline: none;
}

::-moz-selection {
  /* Code for Firefox */
  background: #e1ded3;
}

::selection {
  background: #e1ded3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: roxborough;
  color: #212721;
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h4.medium-font {
  font-size: 30px;
}

#footer-wrapper .footer-container .footer-item.type-nav .content ul li a,
#footer-wrapper .footer-item .title h4 {
  font-size: 24px;
  color: black;
}

p {
  margin-bottom: 18px;
}

p:last-of-type {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

input:focus, input:active, input:hover, button:focus, button:active, button:hover, textarea:focus, textarea:active, textarea:hover {
  outline: none;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.slick-slider .slick-slide {
  outline: none;
}

.custom-container {
  padding: 120px 252px;
  max-width: 1920px;
  margin: auto;
}

.custom-container.smallest-width-container {
  max-width: 1200px;
}

.custom-container.small-width-container {
  max-width: 1450px;
}

.custom-container.medium-width-container {
  max-width: 1750px;
}

.custom-container.type-header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.custom-container.full-width {
  padding-left: 0;
  padding-right: 0;
}

.custom-container.remove-top-padding {
  padding-top: 0;
}

.custom-container.remove-bottom-padding {
  padding-bottom: 0;
}

.custom-container.remove-top-bottom-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.add-padding-top {
  padding-top: 120px;
}

.section-title {
  margin-bottom: 80px;
}

.section-title h1, .section-title h2, .section-title h3, .section-title h4 {
  color: #212721;
}

.section-title h6 {
  display: inline-block;
  font-family: glacial-regular;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #5c5c5c;
  margin-bottom: 30px;
}

.section-title .section-inner {
  width: 900px;
  max-width: 100%;
  margin: auto;
}

.section-title .section-inner.type-small {
  width: 700px;
}

.section-title .section-inner h6 {
  font-family: glacial-regular;
  letter-spacing: 2px;
  margin-bottom: 0;
  border-bottom: 0;
}

.section-title .section-inner ul {
  margin: 30px 0px;
}

.section-title .section-inner ul li {
  font-family: "Handlee", cursive;
  letter-spacing: 2px;
}

.section-title .content {
  margin-top: 30px;
}

.section-title .content h4 {
  line-height: 1.7em;
  text-align: center;
}

.section-title .content h4:not(:last-of-type) {
  margin-bottom: 18px;
}

.section-title .action {
  text-align: center;
}

.section-title.add-bottom-border.type-room .content {
  margin-top: 0;
}

.section-title.add-bottom-border.type-room .title {
  margin-bottom: 0;
}

.section-title.add-bottom-border .title {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.section-title.add-bottom-border .title::after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #5c5c5c;
  opacity: 0.2;
}

.section-title.type-white h6 {
  color: #fff;
  border-color: #fff;
}

.section-title.type-white h3 {
  color: #fff;
}

.section-title.type-white h3:after {
  background-color: #fff;
}

.section-title.type-white.add-bottom-border .title::after {
  background-color: #fff;
}

.section-title.type-center {
  text-align: center;
}

.section-title.remove-bottom-margin {
  margin-bottom: 0;
}

.co-btn {
  display: inline-block;
  position: relative;
  width: auto;
  outline: none;
  border: 0;
  padding: 0;
  padding-bottom: 2px;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 2px;
  color: #5c5c5c;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.co-btn:after {
  content: '';
  height: 1px;
  width: 0;
  background-color: #5c5c5c;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .5s ease-in-out;
}

.co-btn:hover, .co-btn:focus, .co-btn:active {
  color: #5c5c5c;
}

.co-btn:hover:after, .co-btn:focus:after, .co-btn:active:after {
  width: 100%;
  transition: all .5s ease-in-out;
}

.co-btn.type-large-font {
  font-size: 18px;
}

.co-btn.type-underline:after {
  width: 100%;
  transition: all .5s ease-in-out;
}

.co-btn.type-border {
  min-width: 153px;
  padding: 13px 10px;
  font-size: 12px;
  border: 1px solid #5e7063;
  color: #5e7063;
  transition: all .4s ease;
}

.co-btn.type-border:after {
  display: none;
}

.co-btn.type-border.invert {
  border-color: #fff;
  color: #fff;
}

.co-btn.type-border:hover {
  color: #fff;
  border-color: #5e7063;
  background-color: #5e7063;
  transition: all .4s ease;
}

.co-btn.type-invert {
  color: #fff;
}

.co-btn.type-invert:after {
  background-color: #fff;
}

input, select, textarea {
  outline: none;
}

input:hover, input:focus, input:active, select:hover, select:focus, select:active, textarea:hover, textarea:focus, textarea:active {
  outline: 0;
}

#ccm-panel-dashboard .ccm-panel-content ul li {
  width: 100%;
}

.grecaptcha-badge {
  display: none !important;
}

/*# sourceMappingURL=global.css.map */