/**
 * Created by Sushant Gauchan
 * Email : sushant.gauchan11@gmail.com
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.ex-flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.ex-vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ex-transition {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.ex-transition-medium {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.ex-transition-large {
  -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease;
}

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*----------------------------------- Navigation Starts -----------------------------------*/
/*------------------------------------ Navigation Ends ------------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*-------------------------------------- Modal Starts -------------------------------------*/
/*--------------------------------------- Modal Ends --------------------------------------*/
/*------------------------------------ Animation Starts -----------------------------------*/
/*------------------------------------- Animation Ends ------------------------------------*/
@media all and (max-width: 1800px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  h1 {
    font-size: 80px;
  }
  h3 {
    font-size: 40px;
  }
  h6 {
    font-size: 13px;
  }
  .custom-container {
    padding: 120px 180px;
  }
  .custom-container.medium-width-container {
    max-width: 1480px;
  }
  .section-title.add-bottom-border .title {
    padding-bottom: 40px;
  }
  .co-btn {
    font-size: 14px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*----------------------------------- Navigation Starts -----------------------------------*/
  #navigation-wrapper .nav-body .custom-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item .nav-container ul li:not(:last-of-type) {
    margin-bottom: 55px;
  }
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item .nav-container ul li a {
    font-size: 48px;
  }
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item .nav-image-container .image-item .inner {
    position: relative;
    padding-bottom: 125%;
  }
  /*------------------------------------ Navigation Ends ------------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-title {
    width: 750px;
  }
  .common-room-container {
    padding: -40px -30px;
  }
  .common-room-container .room-list {
    padding: 40px 30px;
  }
  .common-room-container .room-list .inner .text-icon-container .text-container {
    margin-bottom: 45px;
    padding-bottom: 70px;
  }
  .common-room-container .room-list .inner .text-icon-container .text-container h4 {
    margin-bottom: 25px;
  }
  .common-action {
    margin-top: 35px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}

@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 54px;
  }
  h3 {
    font-size: 38px;
  }
  h4 {
    font-size: 24px;
  }
  #footer-wrapper .footer-container .footer-item.type-nav .content ul li a,
  #footer-wrapper .footer-item .title h4 {
    font-size: 20px;
  }
  .custom-container {
    padding: 100px 120px;
  }
  .custom-container.smallest-width-container {
    max-width: 1100px;
  }
  .custom-container.medium-width-container {
    max-width: 1300px;
  }
  .custom-container.type-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-title {
    margin-bottom: 60px;
  }
  .section-title.add-bottom-border .title {
    padding-bottom: 35px;
  }
  .section-title .section-inner {
    width: 750px;
  }
  .section-title .section-inner.type-small {
    width: 630px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item .nav-container ul li:not(:last-of-type) {
    margin-bottom: 45px;
  }
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item .nav-container ul li a {
    font-size: 40px;
  }
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item .nav-image-container {
    width: 400px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-section .category-container {
    grid-auto-rows: 355px;
    grid-gap: 20px;
  }
  #content-wrapper #home-page .about-section .category-container .category-item .inner .text-container {
    padding: 0 80px;
  }
  #content-wrapper #single-package-page .section-title.add-bottom-border .title {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper:before {
    /*height: 150px;*/
    height: 180px;
  }
  #footer-wrapper .custom-container {
    padding-top: 90px;
    padding-bottom: 170px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-title {
    width: 670px;
  }
  .common-text-banner-section .text-container img.size-large {
    width: 400px;
  }
  .common-room-container {
    margin: -35px -25px;
  }
  .common-room-container .room-list {
    padding: 35px 25px;
  }
  .common-room-container .room-list .inner .text-icon-container {
    padding: 40px 35px;
  }
  .common-room-container .room-list .inner .text-icon-container .text-container {
    margin-bottom: 40px;
    padding-bottom: 60px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}

@media all and (max-width: 1399px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 46px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 22px;
  }
  h6 {
    font-size: 12px;
  }
  #footer-wrapper .footer-container .footer-item.type-nav .content ul li a,
  #footer-wrapper .footer-item .title h4 {
    font-size: 18px;
  }
  .custom-container.smallest-width-container {
    max-width: 1000px;
  }
  .custom-container.small-width-container {
    max-width: 1200px;
  }
  .custom-container.medium-width-container {
    max-width: 1250px;
  }
  .section-title .section-inner {
    width: 700px;
  }
  .co-btn.type-large-font {
    font-size: 16px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-section .category-container {
    grid-auto-rows: 335px;
  }
  #content-wrapper #about-page .about-section .about-container .about-item.type-founder .move-left {
    margin-right: 20px;
    width: 300px;
  }
  #content-wrapper #about-page .about-section .about-container .about-item:not(:last-of-type) {
    margin-bottom: 45px;
  }
  #content-wrapper #single-room-page .room-features-section .room-features-container ul li img {
    width: 45px;
  }
  #content-wrapper #single-room-page .room-features-section .room-features-container ul li h5 {
    margin-top: 12px;
    font-size: 15px;
  }
  #content-wrapper #common-page .menu-section .menu-nav ul li a h5 {
    font-size: 16px;
  }
  #content-wrapper #faq-page .faq-section .common-faq-container .faq-item:not(:last-of-type) {
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper:before {
    height: 150px;
    /*height: 135px;*/
  }
  #footer-wrapper .custom-container {
    padding-top: 80px;
    padding-bottom: 150px;
  }
  #footer-wrapper .footer-container .footer-item .title {
    margin-bottom: 15px;
  }
  #footer-wrapper .footer-container .footer-item.type-nav .content ul {
    margin: -8px -10px;
  }
  #footer-wrapper .footer-container .footer-item.type-nav .content ul li {
    width: 50%;
    padding: 8px 10px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-text-banner-section .text-container {
    padding-top: 40px;
  }
  .common-room-container {
    margin: -30px -20px;
  }
  .common-room-container .room-list {
    padding: 30px 20px;
  }
  .common-room-container .room-list .inner .text-container {
    padding-bottom: 50px;
    margin-bottom: 30px;
  }
  .common-room-container .room-list .inner .text-icon-container {
    padding: 35px 30px;
  }
  .common-room-container .room-list .inner .text-icon-container .icon-container ul li img {
    width: 32px;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container {
    width: 550px;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container .content {
    margin: 35px 0 30px;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container .content:before, .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container .content:after {
    height: 30px;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container .content:before {
    top: -5px;
    left: -30px;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container .content:after {
    bottom: -18px;
    right: -30px;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .image-container img {
    width: 60px;
  }
  .common-menu-container:not(:last-child) {
    margin-bottom: 60px;
  }
  .common-menu-container ul {
    margin: -15px -50px;
  }
  .common-menu-container ul li {
    width: 50%;
    padding: 15px 50px;
    letter-spacing: 1px;
  }
  .common-quick-nav ul li a {
    font-size: 14px;
  }
  .common-form .fields {
    margin: 0 -6px;
  }
  .common-form .fields .form-group {
    padding: 0 6px;
  }
  .common-form .fields .form-group:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .common-form .fields .form-group label {
    font-size: 13px;
    margin-bottom: 12px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}

@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  h6 {
    font-size: 11px;
  }
  #footer-wrapper .footer-container .footer-item.type-nav .content ul li a,
  #footer-wrapper .footer-item .title h4 {
    font-size: 16px;
  }
  .custom-container {
    padding: 80px 60px;
  }
  .custom-container.type-header {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .custom-container.medium-width-container {
    max-width: 880px;
  }
  .common-experience-container .experience-item:not(:last-of-type) {
    margin-bottom: 80px;
  }
  .section-title {
    margin-bottom: 50px;
  }
  .section-title .section-inner {
    width: 570px;
  }
  .section-title .section-inner.type-small {
    width: 540px;
  }
  .section-title .section-inner ul {
    margin: 20px 0px;
  }
  .section-title.add-bottom-border .title {
    padding-bottom: 28px;
    margin-bottom: 40px;
  }
  .co-btn {
    font-size: 13px;
  }
  .co-btn.type-border {
    min-width: 140px;
    padding: 12px 10px;
    font-size: 11px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item .nav-container ul li:not(:last-of-type) {
    margin-bottom: 34px;
  }
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item .nav-container ul li a {
    font-size: 36px;
  }
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item .nav-image-container {
    width: 370px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-section .category-container {
    grid-auto-rows: 290px;
    grid-gap: 15px;
  }
  #content-wrapper #home-page .about-section .category-container .category-item .inner .text-container {
    padding: 0 45px;
  }
  #content-wrapper #about-page .about-section .about-container .about-item.type-founder .move-left {
    width: 250px;
  }
  #content-wrapper #about-page .about-section .about-container .about-item .block-container.half-width .block-item .image-container {
    width: 60%;
  }
  #content-wrapper #about-page .about-section .about-container .about-item .block-container .block-item .text-container .title {
    margin-bottom: 15px;
  }
  #content-wrapper #packages-page .packages-section .common-packages-container .block-container .block-item {
    width: 50%;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper:before {
    height: 110px;
  }
  #footer-wrapper .custom-container {
    padding-top: 70px;
    padding-bottom: 130px;
  }
  #footer-wrapper .footer-container {
    margin: 0 -20px;
  }
  #footer-wrapper .footer-container .footer-item {
    padding: 0 20px;
  }
  #footer-wrapper .footer-container .footer-item.type-nav .content ul li {
    padding: 6px 10px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-text-banner-section {
    padding-top: 85px;
  }
  .common-text-banner-section .background-overlay {
    height: 55vh;
  }
  .common-room-container {
    margin: -30px -15px;
  }
  .common-room-container .room-list {
    padding: 30px 15px;
  }
  .common-room-container .room-list .inner .text-icon-container {
    padding: 30px 25px;
  }
  .common-room-container .room-list .inner .text-icon-container .text-container {
    margin-bottom: 26px;
    padding-bottom: 40px;
  }
  .common-room-container .room-list .inner .text-icon-container .text-container h4 {
    margin-bottom: 21px;
  }
  .common-room-container .room-list .inner .text-icon-container .icon-container ul li {
    width: 28px;
  }
  .common-room-container .room-list .inner .text-icon-container .icon-container ul li:not(:last-child) {
    margin-right: 15px;
  }
  .common-box-container .box-item {
    padding: 15px;
  }
  .common-box-container.type-blog {
    margin: -30px 0;
  }
  .common-box-container.type-blog .box-item {
    padding: 30px 0;
  }
  .common-menu-container ul {
    margin: -10px -30px;
  }
  .common-menu-container ul li {
    padding: 10px 30px;
  }
  .common-experience-container .experience-item .block-container {
    width: 85%;
  }
  .common-experience-container .experience-item .block-container .block-item .text-container {
    padding: 30px 35px;
  }
  .common-toggle {
    height: 45px;
    width: 45px;
  }
  .common-toggle .inner i {
    font-size: 13px;
  }
  .common-toggle .inner span {
    height: 1px;
  }
  .common-toggle .inner span:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .common-toggle .inner span:nth-of-type(2) {
    width: 77%;
  }
  .common-toggle .inner span i {
    font-size: 13px;
  }
  .common-action {
    margin-top: 25px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}

@media all and (max-width: 991px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  h1 {
    font-size: 56px;
  }
  h4.medium-font {
    font-size: 28px;
  }
  .custom-container {
    padding: 70px 60px;
  }
  .custom-container.type-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .common-experience-container .experience-item:not(:last-of-type) {
    margin-bottom: 60px;
  }
  .section-title .section-inner {
    width: 500px;
  }
  .co-btn.type-border {
    min-width: 125px;
    font-size: 10px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .logo-container a {
    font-size: 26px;
  }
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item:nth-of-type(2) {
    display: none;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-section .category-container {
    grid-auto-rows: 230px;
    grid-gap: 15px;
  }
  #content-wrapper #home-page .about-section .category-container .category-item .inner .text-container {
    padding: 0 24px;
  }
  #content-wrapper #about-page .about-section .about-container .about-item:not(:last-of-type) {
    margin-bottom: 30px;
  }
  #content-wrapper #contact-page .form-info-section .block-wrapper {
    margin: -25px 0;
  }
  #content-wrapper #contact-page .form-info-section .block-wrapper .block-item {
    width: 100%;
    padding: 25px 0;
  }
  #content-wrapper #contact-page .form-info-section .block-wrapper .block-item .inner .info-container .info-item:not(:last-of-type) {
    margin-bottom: 35px;
  }
  #content-wrapper #single-package-page .included-excluded .custom-container .block-container {
    margin: 0;
    flex-wrap: wrap;
  }
  #content-wrapper #single-package-page .included-excluded .custom-container .block-container .block-item {
    width: 100%;
    padding: 0;
  }
  #content-wrapper #single-package-page .included-excluded .custom-container .block-container .block-item .inner .text-container .title {
    margin-bottom: 20px;
  }
  #content-wrapper #single-package-page .included-excluded .custom-container .block-container .block-item:not(:last-of-type) {
    margin-bottom: 38px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-text-banner-section {
    padding-top: 78px;
  }
  .common-text-banner-section .background-overlay {
    height: 550px;
  }
  .common-text-banner-section .text-container {
    padding-top: 30px;
  }
  .common-banner-title .title {
    margin-bottom: 20px;
  }
  .common-banner-title.type-text-banner .title {
    margin-bottom: 40px;
  }
  .common-room-container {
    margin: -30px -10px;
  }
  .common-room-container .room-list {
    padding: 30px 10px;
  }
  .common-room-container .room-list .inner .text-icon-container {
    padding: 25px 20px;
  }
  .common-room-container .room-list .inner .text-icon-container .text-container {
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
  .common-room-container .room-list .inner .text-icon-container .icon-container ul li:not(:last-child) {
    margin-right: 6px;
  }
  .common-room-container .room-list .inner .text-icon-container .icon-container ul li img {
    width: 26px;
  }
  .common-box-container .box-item {
    width: 100%;
  }
  .common-box-container .box-item .inner .image-container {
    margin-bottom: 30px;
  }
  .common-box-container .box-item .inner .image-container a {
    padding-bottom: 50%;
  }
  .common-box-container .box-item .inner .text-container h6 {
    font-size: 14px;
  }
  .common-box-container.type-home .box-item:nth-of-type(2) .inner {
    display: block;
  }
  .common-box-container.type-home .box-item:nth-of-type(2) .inner .image-container {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .common-experience-container .experience-item .block-container {
    width: 100%;
  }
  .common-experience-container .experience-item .block-container .block-item .image-container {
    padding-bottom: 140%;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container {
    width: 500px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}

@media all and (max-width: 767px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 10px;
  }
  #footer-wrapper .footer-container .footer-item.type-nav .content ul li a,
  #footer-wrapper .footer-item .title h4 {
    font-size: 22px;
  }
  .custom-container {
    padding: 60px 30px;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .section-title h6 {
    margin-bottom: 20px;
  }
  .section-title.add-bottom-border .title {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .co-btn.type-large-font {
    font-size: 14px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .logo-toggle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header-wrapper .logo-toggle-wrapper .logo-container a {
    font-size: 24px;
  }
  #header-wrapper .logo-toggle-wrapper .inquire-container .inquire-item:nth-of-type(1) {
    display: none;
  }
  #header-wrapper .logo-toggle-wrapper .inquire-container .inquire-item:nth-of-type(2) {
    display: block;
  }
  #header-wrapper .logo-toggle-wrapper .inquire-container .inquire-item:nth-of-type(2) i {
    font-size: 22px;
    color: #fff;
  }
  #navigation-wrapper .nav-body .custom-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #navigation-wrapper .navigation-wrapper-inner .block-container .block-item .nav-container ul li a {
    font-size: 30px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .about-section .category-container {
    display: block;
    margin: -10px;
  }
  #content-wrapper #home-page .about-section .category-container .category-item {
    padding: 10px;
  }
  #content-wrapper #home-page .about-section .category-container .category-item .inner .image-container {
    height: 290px;
  }
  #content-wrapper #home-page .about-section .category-container .category-item:nth-of-type(1) .inner .image-container {
    height: 60vh;
  }
  #content-wrapper #home-page .room-section {
    background-size: 800px;
  }
  #content-wrapper #home-page .location-section .image-container {
    padding-bottom: 90%;
  }
  #content-wrapper #about-page .about-section .about-container .about-item:not(:last-of-type) {
    margin-bottom: 40px;
  }
  #content-wrapper #about-page .about-section .about-container .about-item.type-founder .move-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  #content-wrapper #about-page .about-section .about-container .about-item .block-container {
    flex-wrap: wrap;
  }
  #content-wrapper #about-page .about-section .about-container .about-item .block-container.half-width .block-item {
    width: 100%;
  }
  #content-wrapper #about-page .about-section .about-container .about-item .block-container.half-width .block-item .image-container {
    width: 100%;
    padding-left: 0;
  }
  #content-wrapper #single-room-page .room-features-section .room-features-container ul {
    margin: -10px -15px;
  }
  #content-wrapper #single-room-page .room-features-section .room-features-container ul li {
    width: 33.33%;
    padding: 10px 15px;
  }
  #content-wrapper #single-room-page .room-features-section .room-features-container ul li h5 {
    margin-top: 10px;
    font-size: 12px;
  }
  #content-wrapper #single-room-page .room-features-section .room-features-container ul li img {
    width: 32px;
  }
  #content-wrapper #common-page .menu-section .menu-nav ul li:not(:last-child) {
    margin-right: 30px;
  }
  #content-wrapper #common-page .menu-section .menu-nav ul li a h5 {
    font-size: 14px;
  }
  #content-wrapper #packages-page .packages-section .common-packages-container .block-container {
    margin: 0;
  }
  #content-wrapper #packages-page .packages-section .common-packages-container .block-container .block-item {
    width: 100%;
    padding: 0;
  }
  #content-wrapper #packages-page .packages-section .common-packages-container .block-container .block-item:not(:last-of-type) {
    margin-bottom: 60px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper:before {
    height: 100px;
  }
  #footer-wrapper .custom-container {
    padding-top: 50px;
    /*padding-bottom: 130px;*/
    padding-bottom: 100px;
  }
  #footer-wrapper ul li {
    font-size: 16px;
  }
  #footer-wrapper .footer-container {
    flex-wrap: wrap;
    margin: -20px 0;
  }
  #footer-wrapper .footer-container .footer-item {
    width: 100%;
    padding: 20px 0px;
  }
  #footer-wrapper .footer-container .footer-item.type-nav {
    width: 100%;
  }
  #footer-wrapper .footer-container .footer-item.type-nav .content ul {
    margin: -10px -10px;
  }
  #footer-wrapper .footer-container .footer-item.type-nav .content ul li {
    width: 100%;
    padding: 10px 10px;
  }
  #footer-wrapper .footer-container .footer-item.type-nav .content ul li a {
    display: inline-block;
  }
  #footer-wrapper .copy-container {
    margin-top: 40px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner-section .custom-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .common-banner-section .banner-slider .banner-item img:nth-of-type(1) {
    display: none;
  }
  .common-banner-section .banner-slider .banner-item img.type-mobile {
    display: block;
  }
  .common-banner-section.type-small .banner-slider .banner-item {
    height: 60vh;
  }
  .common-banner-section.type-no-mobile .banner-slider .banner-item img:nth-of-type(1) {
    display: block;
  }
  .common-banner-section.type-no-mobile .banner-slider .banner-item img.type-mobile {
    display: none;
  }
  .common-text-banner-section {
    padding-top: 70px;
  }
  .common-text-banner-section .background-overlay {
    height: 48vh;
  }
  .common-text-banner-section .image-container {
    padding-bottom: 70%;
  }
  .common-banner-title.type-text-banner .title {
    margin-bottom: 20px;
  }
  .common-room-container .room-list {
    width: 100%;
  }
  .common-box-container {
    margin: -25px -15px;
  }
  .common-box-container .box-item {
    padding: 25px 15px;
  }
  .common-box-container .box-item .inner .image-container a {
    padding-bottom: 90%;
  }
  .common-box-container .box-item .inner .text-container h6 {
    font-size: 14px;
  }
  .common-box-container.type-blog .box-item .inner .image-container a {
    padding-bottom: 65%;
  }
  .common-menu-container:not(:last-child) {
    margin-bottom: 40px;
  }
  .common-menu-container h5 {
    margin-bottom: 15px;
  }
  .common-menu-container ul {
    margin: -10px -10px;
  }
  .common-menu-container ul li {
    padding: 10px 10px;
    width: 100%;
  }
  .common-experience-container .experience-item .block-container {
    flex-wrap: wrap;
  }
  .common-experience-container .experience-item .block-container .block-item .image-container {
    padding-bottom: 90%;
  }
  .common-experience-container .experience-item .block-container .block-item:nth-of-type(1) {
    width: 100%;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container .content {
    margin: 20px 0 25px;
    padding: 0 25px;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container .content:before, .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container .content:after {
    height: 24px;
    width: 24px;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container .content:before {
    left: 0;
  }
  .common-testimonial-section .custom-container .testimonial-container .testimonial-item .text-container .content:after {
    right: 0;
  }
  .common-gallery-section .gallery-container .gallery-item .inner a {
    padding-bottom: 100%;
  }
  .common-gallery-section .gallery-container .gallery-item:nth-child(4n-2) .inner a, .common-gallery-section .gallery-container .gallery-item:nth-child(4n-1) .inner a {
    padding-bottom: 130%;
  }
  .common-quick-nav .back-container {
    padding-bottom: 20px;
  }
  .common-quick-nav .nav-container ul li a {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .common-toggle {
    height: 40px;
    width: 40px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  .modal .modal-dialog {
    max-width: calc(100% - 60px);
  }
  /*--------------------------------------- Modal Ends --------------------------------------*/
  /*------------------------------------ Animation Starts -----------------------------------*/
  /*------------------------------------- Animation Ends ------------------------------------*/
}

/*# sourceMappingURL=responsive.css.map */