@import "components/fonts_and_colors";

@media all and (max-width: 1800px) {

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #contact-page {
      .custom-container {
        .block-wrapper {
          .item-wrapper {
            &:first-child {
              padding-right: 180px;
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  .slick-slider {
    .slick-dots {
      li {
        height: 20px;
        width: 20px;
        button {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

@media all and (max-width: 1699px) {

  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
    padding: 80px 150px;
  }
  h1{
    font-size: 50px;
    line-height: 55px;
  }
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {
      .what-we-do {
        background-size: 200px;
        .custom-container {
          background-size: 200px;
          .section-container {
            max-width: 900px;
          }
        }
      }
      .featured {
        .custom-container {
          .section-container {
            padding: 120px;
          }
        }
      }
      .project-slider {
        .project-item {
          .image-container {
            .section-container {
              .inner {
                padding: 30px 100px 30px 30px;
                font-size: 18px;
                line-height: 21px;
                &:after {
                  right: 30px;
                  font-size: 30px;
                }
              }
            }
          }
        }
        &.slick-slider {
          .slick-prev {
            left: -40px;
          }
          .slick-next {
            right: -40px;
          }
        }
      }
    }
    #about-page {
      .image-divider {
        padding-bottom: 30%;
      }
      .history-container {
        .custom-container {
          .block-container {
            .block-item{
              .section-container {
                padding: 80px;
              }
              &:nth-child(1),&:nth-child(4) {
                width: calc(100% - 500px);
              }
              &:nth-child(2),&:nth-child(3) {
                width: 500px;
              }
            }
          }
        }
      }
      .mission-container {
        .custom-container {
          .section-container {
            padding: 80px;
          }
        }
      }
    }
    #projects-page {
      .project-container {
        .project-item {
          .image-container {
            .section-container {
              .inner {
                padding: 30px 100px 30px 30px;
                font-size: 18px;
                line-height: 21px;
                &:after {
                  right: 30px;
                  font-size: 30px;
                }
              }
            }
          }
        }
      }
    }
    #contact-page {
      .custom-container {
        .block-wrapper {
          .item-wrapper {
            &:first-child {
              padding-right: 80px;
              .con-wrapper {
                .con-item {
                  .section-container {
                    padding: 40px;
                  }
                }
              }
            }
            &:last-child {
              width: 450px;
            }
          }
        }
      }
    }
    #single-product {
      .product-intro {
        .custom-container {
          .block-wrapper {
            .item-wrapper {
              .section-container {
                .section-title {
                  margin-bottom: 15px;
                }
                .section-links {
                  margin-top: 35px;
                }
              }
              &:last-child {
                padding: 0 130px;
              }
            }
          }
        }
      }
    }
    #single-page {
      .gallery-item {
        .type-main-gallery {
          .inner {
            padding: 0 100px;
            height: 600px;
          }
        }
        .type-nav-gallery {
          margin: 0 -10px;
          .inner {
            padding: 20px 10px;
          }
        }
      }

      .custom-container {
        .section-container {
          max-width: 1100px;
          margin: 0 auto;
          .section-date {
            margin: 10px 0 30px 0;
          }
          .image-container {
            position: relative;
            padding-bottom: 35%;
            height: auto;
            width: 100%;
            overflow: hidden;
            img {
              position: absolute;
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: center;
              display: block;
            }
          }
          .section-body {
            img {
              width: 100%;
              display: block;
            }
            ul {
              margin: 0 0 18px 30px;
              li {
                list-style: disc;
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {
    .custom-container {
      padding-top: 90px;
      padding-bottom: 90px;
      .widget-wrapper {
        margin: 0 -50px;
        .footer-widget {
          padding: 0 50px;
          .logo-wrapper {
            margin: 70px 0 50px 0;
            max-width: 300px;
          }
          .info-widget {
            p {
              margin-bottom: 20px;
            }
            &:not(:last-of-type) {
              margin-bottom: 60px;
            }
          }
          .map-widget {
            li {
              &:not(:last-of-type) {
                margin-bottom: 30px;
              }
            }
          }
          .widget-title {
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 25px;
          }

        }
      }
    }
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  .common-banner {
    .custom-container {
      .section-links {
        margin-top: 30px;
      }
    }
    .download-btn {
      right: 150px;
    }
  }
  .common-table {
    .inner {
      table {
        tr {
          th,td {
            padding: 20px 10px;
          }
          &:first-child {
            th {
              padding: 20px;
            }
          }
        }
      }
    }
  }
  .common-technical {
    margin-top: 30px;
    .title {
      margin-bottom: 30px;
    }
    ul {
      li {
        span {
          margin-right: 30px;
        }
        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
    }
  }
  .social-widget {
    li {
      a {
        .image-container {
          width: 50px;
          height: 50px;
          padding: 15px 0;
        }
      }
    }
  }
  .slider-box {
    .slick-slider {
      .slick-prev {
        left: -50px;
      }
      .slick-next {
        right: -50px;
      }
      .slick-prev, .slick-next {
        height: 50px;
        width: 50px;
      }
    }
  }
}

@media all and (max-width: 1599px) {

  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
    padding: 80px 125px;
  }
  h1{
    font-size: 40px;
    line-height: 45px;
  }
  h4 {
    font-size: 18px;
    line-height: 23px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper {
    .top-wrapper {
      .custom-container {
        .info-widget {
          li {
            &:not(:last-of-type) {
              margin-right: 50px;
            }
          }
        }
        .social-widget {
          margin-left: 50px;
        }
      }
    }
    .menu-wrapper {
      .custom-container {
        padding: 20px 60px;
        .back-wrapper {
          .nav-bar {
            ul {
              padding-left: 80px;
              li {
                &:not(:last-of-type) {
                  margin-right: 120px;
                }
              }
              &:last-of-type {
                padding-right: 80px;
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {
      .what-we-do {
        .custom-container {
          .block-wrapper {
            margin-top: 60px;
          }
        }
      }
      .featured {
        .custom-container {
          .section-container {
            padding: 100px 120px;
            .image-container {
              width: 45%;
            }
            .section-body {
              margin-top: 20px;
            }
          }
        }
      }
      .projects {
        .custom-container {
          .block-wrapper {
            margin: -10px;
            .item-wrapper {
              padding: 10px;
            }
          }
        }
      }
      .project-slider {
        margin: 0 -10px;
        .project-item {
          padding: 0 10px;
        }
      }
    }
    #about-page {
      .image-divider {
        padding-bottom: 30%;
      }
      .history-container {
        .custom-container {
          .block-container {
            .block-item{
              .section-container {
                padding: 80px 70px;
              }
            }
          }
        }
      }
      .mission-container {
        .custom-container {
          .section-container {
            padding: 80px 70px;
          }
        }
      }
    }
    #contact-page {
      .custom-container {
        .block-wrapper {
          .item-wrapper {
            .section-container {
              .section-body {
                margin-top: 30px;
                .common-form {
                  margin-top: 25px;
                }
              }
            }
            &:first-child {
              padding-right: 60px;
              .con-wrapper {
                margin: -10px;
                .con-item {
                  padding: 10px;
                  .section-container {
                    .section-body {
                      margin-top: 20px;
                      ul {
                        margin-top: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #projects-page {
      .project-container {
        margin: -10px;
        .project-item {
          padding: 10px;
        }
      }
    }
    #single-product {
      .product-intro {
        .custom-container {
          .block-wrapper {
            .item-wrapper {
              &:last-child {
                padding: 0 100px;
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {
    .custom-container {
      padding-top: 80px;
      padding-bottom: 80px;
      .widget-wrapper {
        .footer-widget {
          .logo-wrapper {
            margin: 60px 0 30px 0;
            max-width: 275px;
          }
          .info-widget {
            li {
              font-size: 18px;
            }
          }
          .map-widget {
            li {
              a {
                font-size: 18px;
                line-height: 20px;
              }
            }
          }
          .widget-title {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper {
    margin: -20px -10px;
    .card-item {
      padding: 20px 10px;
      .section-container {
        .section-title {
          padding: 20px 30px;
        }
      }
    }
  }
  .common-banner {
    margin-top: -152px;
    .banner-inner {
      min-height: 600px;
    }
    .download-btn {
      right: 125px;
    }
    &.type-small {
      height: 500px;
      min-height: 500px;
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  .slick-slider {
    .slick-dots {
      li {
        height: 12px;
        width: 12px;
        button {
          height: 12px;
          width: 12px;
        }
        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }

}

@media all and (max-width: 1299px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
    padding: 80px 100px;
  }
  h1{
    font-size: 40px;
    line-height: 45px;
  }
  h2 {
    font-size: 25px;
    line-height: 30px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper {
    .top-wrapper {
      .custom-container {
        .info-widget {
          li {
            &:not(:last-of-type) {
              margin-right: 30px;
            }
          }
        }
        .social-widget {
          margin-left: 30px;
        }
      }
    }
    .menu-wrapper {
      .custom-container {
        padding: 20px 60px;
        .back-wrapper {
          .nav-bar {
            ul {
              padding-left: 60px;
              li {
                &:not(:last-of-type) {
                  margin-right: 100px;
                }
              }
              &:last-of-type {
                padding-right: 60px;
              }
            }
          }
        }
      }
    }
  }
  #search-wrapper{
    .close-container{
      ul{
        cursor: pointer;
        li{
          font-size: 18px;
        }
      }
    }
    .search-container{
      .fields{
        input{
          font-size: 18px;
        }
      }
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {
      .what-we-do {
        background-size: 170px;
        .custom-container {
          background-size: 170px;
          .section-container {
            max-width: 750px;
          }
        }
      }
      .featured {
        .custom-container {
          .section-container {
            padding: 100px;
            .image-container {
              width: 50%;
            }
            .section-title,.section-body {
              max-width: 60%;
            }
          }
        }
      }
      .project-slider {
        &.slick-slider {
          .slick-prev {
            left: -20px;
          }
          .slick-next {
            right: -20px;
          }
        }
      }
    }
    #about-page {
      .image-divider {
        padding-bottom: 40%;
      }
      .history-container {
        .custom-container {
          .block-container {
            .block-item{
              .section-container {
                padding: 60px;
              }
              &:nth-child(1),&:nth-child(4) {
                width: calc(100% - 500px);
              }
              &:nth-child(2),&:nth-child(3) {
                width: 500px;
              }
            }
          }
        }
      }
      .mission-container {
        .custom-container {
          .section-container {
            padding: 60px;
          }
        }
      }
    }
    #contact-page {
      .custom-container {
        .block-wrapper {
          .item-wrapper {
            &:first-child {
              padding-right: 40px;
              .con-wrapper {
                .con-item {
                  .section-container {
                    padding: 30px;
                  }
                }
              }
            }
            &:last-child {
              width: 400px;
            }
          }
        }
      }
    }
    #single-product {
      .product-intro {
        .custom-container {
          .block-wrapper {
            .item-wrapper {
              &:last-child {
                padding: 0 0 0 80px;
              }
            }
          }
        }
      }
    }
    #single-page {
      .gallery-item {
        .type-main-gallery {
          .inner {
            padding: 0 100px;
            height: 500px;
          }
        }
        .type-nav-gallery {
          margin: 0 -7.5px;
          .inner {
            padding: 15px 7.5px;
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {
    .custom-container {
      .widget-wrapper {
        margin: 0 -40px;
        .footer-widget {
          padding: 0 40px;
        }
      }
    }
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper {
    .card-item {
      width: 33.33%;
    }
  }
  .common-banner {
    .custom-container {
      .section-title {
        max-width: 450px;
      }
    }
    .download-btn {
      right: 100px;
    }
  }
  .common-table {
    .inner {
      table {
        tr {
          th,td {
            padding: 15px 10px;
          }
          &:first-child {
            th {
              padding: 15px;
            }
          }
        }
      }
    }
  }
  .search-form {
    input,select,textarea {
      padding: 15px 20px;
    }
  }
  .social-widget {
    li {
      a {
        .image-container {
          width: 50px;
          height: 50px;
          padding: 15px 0;
        }
      }
    }
  }
  .slider-box {
    .slick-slider {
      .slick-prev {
        left: -30px;
      }
      .slick-next {
        right: -30px;
      }
      .slick-prev, .slick-next {
        height: 40px;
        width: 40px;
      }
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/

}

@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
    padding: 80px;
  }
  h1{
    font-size: 28px;
    line-height: 32px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {
      .featured {
        .custom-container {
          .section-container {
            padding: 80px;
          }
        }
      }
    }
    #about-page {
      .history-container {
        .custom-container {
          .block-container {
            .block-item{
              .section-container {
                padding: 50px;
              }
              &:nth-child(1),&:nth-child(4) {
                width: 50%;
              }
              &:nth-child(2),&:nth-child(3) {
                width: 50%;
              }
            }
          }
        }
      }
      .mission-container {
        .custom-container {
          .section-container {
            padding: 50px;
          }
        }
      }
    }
    #contact-page {
      .custom-container {
        .block-wrapper {
          .item-wrapper {
            &:first-child {
              padding-right: 30px;
              .con-wrapper {
                .con-item {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    #single-product {
      .product-intro {
        .custom-container {
          .block-wrapper {
            .item-wrapper {
              &:last-child {
                padding: 0 0 0 60px;
              }
            }
          }
        }
      }
    }
    #single-page {
      .gallery-item {
        .type-main-gallery {
          .inner {
            padding: 0 80px;
            height: 500px;
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner {
    .download-btn {
      right: 80px;
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/

}

@media all and (max-width: 999px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
    padding: 60px;
  }
  .co-btn{
    &.type-fill {
      padding: 15px 20px;
    }
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper {
    .top-wrapper {
      .custom-container {
        .info-widget {
          li {
            &:not(:last-of-type) {
              display: none;
              margin-right: 30px;
            }
          }
        }
      }
    }
    .menu-wrapper {
      .custom-container {
        padding: 0;
        .back-wrapper {
          background-color: $white-color;
          border-radius: 0 0 15px 15px;
          box-shadow: rgba(0,0,0,0.1) 0px 0px 30px;
          padding: 15px 60px;
          position: initial;
          display: flex;
          align-items: center;
          justify-content: right;
          .logo-wrapper {
            left: 60px;
            transform: translate(0, -50%);
          }
          .nav-bar {
            display: block;
            width: 100%;
            height: auto;
            overflow: hidden;
            opacity: 0;
            pointer-events: none;
            background-color: #222222;
            position: fixed;
            padding-left: 0;
            top: 0;
            left: 0;
            z-index: 10;
            transition: 0.3s all ease;
            .close-menu {
              display: block;
              padding: 18.5px 60px;
              background-color: $white-color;
              text-align: right;
              color: $black-color;
              cursor: pointer;
              span {
                display: block;
              }
            }
            ul {
              display: block;
              width: 100%;
              padding-left: 0;
              margin-top: 40px;
              li {
                padding: 0 60px;
                text-align: center;
                color: $white-color;
                a {
                  color: $white-color;
                }
                &:not(:last-of-type) {
                  margin-right: 0;
                  margin-bottom: 40px;
                }
              }
              &:last-of-type {
                padding-right: 0;
                margin-bottom: 30px;
              }
            }
          }
          .mobile-toggle {
            display: flex;
            align-items: center;
            color: $black-color;
            font-weight: 600;
            font-variant: small-caps;
            letter-spacing: 2px;
            cursor: pointer;
            span {
              display: block;
              font-size: 30px;
              font-variant: initial;
            }
          }
        }
        &.menu-open {
          .back-wrapper {
            .nav-bar{
              opacity: 1;
              pointer-events: initial;
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {
      .what-we-do {
        background-size: 125px;
        background-position: top 0 left 30px;
        .custom-container {
          background-size: 125px;
          background-position: bottom 0 right 30px;
          .section-container {
            .block-wrapper {
              margin: -15px;
              margin-top: 60px;
              justify-content: center;
              .item-wrapper {
                padding: 15px;
                width: 50%;
                .section-container {
                  max-width: 100%;
                  .counter {
                    font-size: 25px;
                    line-height: 30px;
                    height: 65px;
                    width: 65px;
                    margin-bottom: 20px;
                    img {
                      max-width: 40px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .featured {
        .custom-container {
          .section-container {
            padding: 60px;
            .image-container {
              width: 50%;
            }
            .section-title,.section-body {
              max-width: 60%;
            }
            .section-title {
              span {
                margin-bottom: 15px;
              }
            }
            .section-links {
              margin-top: 30px;
              .co-btn {
                padding: 15px 20px;
                &:after {
                  margin-left: 20px;
                }
              }
            }
          }
        }
      }
      .projects {
        .custom-container {
          .block-wrapper {
            margin: 0;
            .item-wrapper {
              width: 100%;
              padding: 0;
              .image-container {
                padding-bottom: 60%;
              }
              &:not(:last-of-type) {
                margin-bottom: 30px;
              }
            }
          }
        }
      }
      .project-slider {
        &.slick-slider {
          .slick-prev {
            left: -10px;
          }
          .slick-next {
            right: -10px;
          }
        }
      }
    }
    #about-page {
      .image-divider {
        padding-bottom: 50%;
      }
      .history-container {
        .custom-container {
          .block-container {
            .block-item{
              .section-container {
                padding: 0;
              }
              .image-container {
                position: relative;
                height: auto;
                padding-bottom: 50%;
              }
              &:nth-child(1) {
                order: 1;
              }
              &:nth-child(2) {
                order: 2;
              }
              &:nth-child(1),&:nth-child(4) {
                width: 100%;
              }
              &:nth-child(2),&:nth-child(3) {
                width: 100%;
              }
              &:not(:last-of-type) {
                margin-bottom: 30px;
              }
            }
          }
        }
      }
      .mission-container {
        .custom-container {
          .section-container {
            max-width: 100%;
            padding: 40px;
          }
        }
      }
    }
    #contact-page {
      .custom-container {
        .block-wrapper {
          flex-wrap: wrap;
          .item-wrapper {
            &:first-child {
              padding-right: 0;
              .section-container {
                .section-body {
                  margin-top: 30px;
                }
              }
              .con-wrapper {
                .con-item {
                  width: 50%;
                  .section-container {
                    .section-body {
                      margin-top: 15px;
                      ul {
                        margin-top: 15px;
                      }
                    }
                  }
                }
              }
            }
            &:last-child {
              width: 100%;
              margin-top: 60px;
            }
          }
        }
      }
    }
    #projects-page {
      .project-container {
        margin: -7.5px;
        .project-item {
          padding: 7.5px;
        }
      }
    }
    #single-product {
      .product-intro {
        .custom-container {
          .block-wrapper {
            .item-wrapper {
              &:last-child {
                padding: 0 0 0 40px;
              }
            }
          }
        }
      }
      .more-specifications {
        .custom-container {
          padding-top: 60px;
          .common-flex-container {
            margin-bottom: 30px;
          }
          .common-technical {
            width: 100%;
            max-width: 900px;
            ul {
              column-count: 1;
              column-gap: 0;
            }
          }
        }
      }
    }
    #single-page {
      .gallery-item {
        .type-main-gallery {
          .inner {
            padding: 0 60px;
            height: 400px;
          }
        }
        .type-nav-gallery {
          margin: 0 -5px;
          .inner {
            padding: 10px 5px;
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {
    .custom-container {
      .widget-wrapper {
        flex-wrap: wrap;
        margin: -30px;
        .footer-widget {
          padding: 30px;
          width: 100%;
          .logo-wrapper {
            max-width: 175px;
          }
          .newsletter-widget {
            input {
              padding: 15px 50px 15px 15px;
            }
            input[type="submit"] {
              top: 20px;
            }
          }
          .info-widget {
            &:not(:last-of-type) {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper {
    margin: -10px;
    .card-item {
      width: 50%;
      padding: 10px;
      .section-container {
        .section-title {
          padding: 15px 20px;
        }
      }
    }
  }
  .common-banner {
    min-height: 500px;
    height: calc(100vh - 98px);
    margin-top: 0;
    .banner-inner {
      min-height: 500px;
      height: calc(100vh - 98px);
    }
    .custom-container {
      top: 45%;
      transform: translateY(-45%);
      .section-links {
        .co-btn {
          padding: 15px 20px;
          &:after {
            margin-left: 20px;
          }
        }
      }
    }
    .download-btn {
      bottom: 60px;
      right: initial;
      left: 50%;
      transform: translateX(-50%);
    }
    &.type-small {
      height: 250px;
      min-height: 250px;
      .custom-container {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .common-form {
    .fields{;
      .form-group{
        input,select,textarea{
          line-height: 1em;
          width: 100%;
          padding: 15px 20px;
          color: $text-color;
          font-size: 16px;
          border: 1px solid $border-color;
          background-color: $white-color;
        }
      }
    }
  }
  .common-flex-container {
    flex-wrap: wrap;
    .section-title,.section-body {
      width: 100%;
      margin-left: 0;
    }
    .section-body {
      margin-top: 20px;
      .co-btn {
        padding: 15px 20px;
        &:after {
          margin-left: 20px;
        }
      }
    }
  }
  .social-widget {
    li {
      a {
        .image-container {
          padding: 16px 0;
        }
      }
    }
  }
  .slider-box {
    .slick-slider {
      &.slick-dotted {
        .slick-dots {
          bottom: 30px;
        }
      }
      .slick-prev {
        left: -20px;
      }
      .slick-next {
        right: -20px;
      }
      .slick-prev, .slick-next {
        background: rgba(0,0,0,.1);
      }
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/

}

@media all and (max-width: 799px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{
    padding: 60px 30px;
  }
  h4 {
    font-size: 16px;
    line-height: 20px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper {
    .top-wrapper {
      .custom-container {
        .info-widget {
          li {
            &:not(:last-of-type) {
              display: none;
              margin-right: 30px;
            }
          }
        }
      }
    }
    .menu-wrapper {
      .custom-container {
        .back-wrapper {
          border-radius: 0 0 10px 10px;
          padding: 15px 30px;
          .logo-wrapper {
            left: 30px;
          }
          .nav-bar {
            .close-menu {
              padding: 18.5px 30px;
            }
            ul {
              margin-top: 30px;
              li {
                padding: 0 30px;
                &:not(:last-of-type) {
                  margin-bottom: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper {
    #home-page {
      .what-we-do {
        .custom-container {
          .section-container {
            .block-wrapper {
              margin: -15px;
              margin-top: 30px;
              .item-wrapper {
                padding: 15px;
                width: 100%;
              }
            }
          }
        }
      }
      .featured {
        .custom-container {
          .section-container {
            padding: 0;
            padding-bottom: 30px;
            border-radius: 5px;
            overflow: hidden;
            .image-container {
              width: 100%;
              position: relative;
              margin: 0 auto;
              margin-bottom: 30px;
            }
            .section-title,.section-body,.section-links {
              max-width: 100%;
              padding: 0 30px;
            }
          }
        }
      }
    }
    #about-page {
      .mission-container {
        .custom-container {
          .section-container {
            padding: 30px;
          }
        }
      }
    }
    #products-page {
      .filer-box {
        ul {
          li {
            ul {
              display: block;
            }
          }
        }
        .sub-menu {
          display: none;
        }
      }
    }
    #contact-page {
      .custom-container {
        .block-wrapper {
          .item-wrapper {
            &:first-child {
              .con-wrapper {
                .con-item {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    #projects-page {
      .project-container {
        margin: -7.5px;
        .project-item {
          padding: 7.5px;
          width: 100%;
        }
      }
    }
    #single-product {
      .product-intro {
        .custom-container {
          .block-wrapper {
            .item-wrapper {
              width: 100%;
              &:last-child {
                padding: 30px 0 0 0;
              }
            }
          }
        }
      }
    }
    #single-page {
      .gallery-item {
        .type-main-gallery {
          .inner {
            padding: 0 30px;
            height: 300px;
          }
        }
      }
    }
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper {
    .custom-container {
      &.copyright {
        div {
          br {
            display: block;
          }
        }
      }
    }
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper {
    margin: -10px -5px;
    .card-item {
      padding: 10px 5px;
    }
  }
  .common-flex-container {
    margin-bottom: 30px;
    .section-body {
      flex-wrap: wrap;
      margin-top: 15px;
      p {
        width: 100%;
      }
      .co-btn {
        margin-left: 0;
        margin-top: 18px;
      }
    }
  }
  .search-form {
    .screen-reader-text {
      margin-bottom: 15px;
      display: inline-block;
    }
    input,select,textarea,label {
      width: 100%;
    }
  }
  /*------------------------------------ Components Ends ------------------------------------*/

  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/

}
