/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
/*--------------------------------------- Mixins Ends -------------------------------------*/
@media all and (max-width: 1800px) {
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child {
    padding-right: 180px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  .slick-slider .slick-dots li {
    height: 20px;
    width: 20px;
  }
  .slick-slider .slick-dots li button {
    height: 20px;
    width: 20px;
  }
}

@media all and (max-width: 1699px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 80px 150px;
  }
  h1 {
    font-size: 50px;
    line-height: 55px;
  }
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .what-we-do {
    background-size: 200px;
  }
  #content-wrapper #home-page .what-we-do .custom-container {
    background-size: 200px;
  }
  #content-wrapper #home-page .what-we-do .custom-container .section-container {
    max-width: 900px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container {
    padding: 120px;
  }
  #content-wrapper #home-page .project-slider .project-item .image-container .section-container .inner {
    padding: 30px 100px 30px 30px;
    font-size: 18px;
    line-height: 21px;
  }
  #content-wrapper #home-page .project-slider .project-item .image-container .section-container .inner:after {
    right: 30px;
    font-size: 30px;
  }
  #content-wrapper #home-page .project-slider.slick-slider .slick-prev {
    left: -40px;
  }
  #content-wrapper #home-page .project-slider.slick-slider .slick-next {
    right: -40px;
  }
  #content-wrapper #about-page .image-divider {
    padding-bottom: 30%;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item .section-container {
    padding: 80px;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(1), #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(4) {
    width: calc(100% - 500px);
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(2), #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(3) {
    width: 500px;
  }
  #content-wrapper #about-page .mission-container .custom-container .section-container {
    padding: 80px;
  }
  #content-wrapper #projects-page .project-container .project-item .image-container .section-container .inner {
    padding: 30px 100px 30px 30px;
    font-size: 18px;
    line-height: 21px;
  }
  #content-wrapper #projects-page .project-container .project-item .image-container .section-container .inner:after {
    right: 30px;
    font-size: 30px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child {
    padding-right: 80px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper .con-item .section-container {
    padding: 40px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:last-child {
    width: 450px;
  }
  #content-wrapper #single-product .product-intro .custom-container .block-wrapper .item-wrapper .section-container .section-title {
    margin-bottom: 15px;
  }
  #content-wrapper #single-product .product-intro .custom-container .block-wrapper .item-wrapper .section-container .section-links {
    margin-top: 35px;
  }
  #content-wrapper #single-product .product-intro .custom-container .block-wrapper .item-wrapper:last-child {
    padding: 0 130px;
  }
  #content-wrapper #single-page .gallery-item .type-main-gallery .inner {
    padding: 0 100px;
    height: 600px;
  }
  #content-wrapper #single-page .gallery-item .type-nav-gallery {
    margin: 0 -10px;
  }
  #content-wrapper #single-page .gallery-item .type-nav-gallery .inner {
    padding: 20px 10px;
  }
  #content-wrapper #single-page .custom-container .section-container {
    max-width: 1100px;
    margin: 0 auto;
  }
  #content-wrapper #single-page .custom-container .section-container .section-date {
    margin: 10px 0 30px 0;
  }
  #content-wrapper #single-page .custom-container .section-container .image-container {
    position: relative;
    padding-bottom: 35%;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  #content-wrapper #single-page .custom-container .section-container .image-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  #content-wrapper #single-page .custom-container .section-container .section-body img {
    width: 100%;
    display: block;
  }
  #content-wrapper #single-page .custom-container .section-container .section-body ul {
    margin: 0 0 18px 30px;
  }
  #content-wrapper #single-page .custom-container .section-container .section-body ul li {
    list-style: disc;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .custom-container {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #footer-wrapper .custom-container .widget-wrapper {
    margin: 0 -50px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget {
    padding: 0 50px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .logo-wrapper {
    margin: 70px 0 50px 0;
    max-width: 300px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .info-widget p {
    margin-bottom: 20px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .info-widget:not(:last-of-type) {
    margin-bottom: 60px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .map-widget li:not(:last-of-type) {
    margin-bottom: 30px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .widget-title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 25px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  .common-banner .custom-container .section-links {
    margin-top: 30px;
  }
  .common-banner .download-btn {
    right: 150px;
  }
  .common-table .inner table tr th, .common-table .inner table tr td {
    padding: 20px 10px;
  }
  .common-table .inner table tr:first-child th {
    padding: 20px;
  }
  .common-technical {
    margin-top: 30px;
  }
  .common-technical .title {
    margin-bottom: 30px;
  }
  .common-technical ul li span {
    margin-right: 30px;
  }
  .common-technical ul li:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .social-widget li a .image-container {
    width: 50px;
    height: 50px;
    padding: 15px 0;
  }
  .slider-box .slick-slider .slick-prev {
    left: -50px;
  }
  .slider-box .slick-slider .slick-next {
    right: -50px;
  }
  .slider-box .slick-slider .slick-prev, .slider-box .slick-slider .slick-next {
    height: 50px;
    width: 50px;
  }
}

@media all and (max-width: 1599px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 80px 125px;
  }
  h1 {
    font-size: 40px;
    line-height: 45px;
  }
  h4 {
    font-size: 18px;
    line-height: 23px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .top-wrapper .custom-container .info-widget li:not(:last-of-type) {
    margin-right: 50px;
  }
  #header-wrapper .top-wrapper .custom-container .social-widget {
    margin-left: 50px;
  }
  #header-wrapper .menu-wrapper .custom-container {
    padding: 20px 60px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul {
    padding-left: 80px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul li:not(:last-of-type) {
    margin-right: 120px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul:last-of-type {
    padding-right: 80px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .what-we-do .custom-container .block-wrapper {
    margin-top: 60px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container {
    padding: 100px 120px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .image-container {
    width: 45%;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .section-body {
    margin-top: 20px;
  }
  #content-wrapper #home-page .projects .custom-container .block-wrapper {
    margin: -10px;
  }
  #content-wrapper #home-page .projects .custom-container .block-wrapper .item-wrapper {
    padding: 10px;
  }
  #content-wrapper #home-page .project-slider {
    margin: 0 -10px;
  }
  #content-wrapper #home-page .project-slider .project-item {
    padding: 0 10px;
  }
  #content-wrapper #about-page .image-divider {
    padding-bottom: 30%;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item .section-container {
    padding: 80px 70px;
  }
  #content-wrapper #about-page .mission-container .custom-container .section-container {
    padding: 80px 70px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper .section-container .section-body {
    margin-top: 30px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper .section-container .section-body .common-form {
    margin-top: 25px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child {
    padding-right: 60px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper {
    margin: -10px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper .con-item {
    padding: 10px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper .con-item .section-container .section-body {
    margin-top: 20px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper .con-item .section-container .section-body ul {
    margin-top: 20px;
  }
  #content-wrapper #projects-page .project-container {
    margin: -10px;
  }
  #content-wrapper #projects-page .project-container .project-item {
    padding: 10px;
  }
  #content-wrapper #single-product .product-intro .custom-container .block-wrapper .item-wrapper:last-child {
    padding: 0 100px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .custom-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .logo-wrapper {
    margin: 60px 0 30px 0;
    max-width: 275px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .info-widget li {
    font-size: 18px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .map-widget li a {
    font-size: 18px;
    line-height: 20px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .widget-title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper {
    margin: -20px -10px;
  }
  .card-wrapper .card-item {
    padding: 20px 10px;
  }
  .card-wrapper .card-item .section-container .section-title {
    padding: 20px 30px;
  }
  .common-banner {
    margin-top: -152px;
  }
  .common-banner .banner-inner {
    min-height: 600px;
  }
  .common-banner .download-btn {
    right: 125px;
  }
  .common-banner.type-small {
    height: 500px;
    min-height: 500px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  .slick-slider .slick-dots li {
    height: 12px;
    width: 12px;
  }
  .slick-slider .slick-dots li button {
    height: 12px;
    width: 12px;
  }
  .slick-slider .slick-dots li:not(:last-of-type) {
    margin-right: 10px;
  }
}

@media all and (max-width: 1299px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 80px 100px;
  }
  h1 {
    font-size: 40px;
    line-height: 45px;
  }
  h2 {
    font-size: 25px;
    line-height: 30px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .top-wrapper .custom-container .info-widget li:not(:last-of-type) {
    margin-right: 30px;
  }
  #header-wrapper .top-wrapper .custom-container .social-widget {
    margin-left: 30px;
  }
  #header-wrapper .menu-wrapper .custom-container {
    padding: 20px 60px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul {
    padding-left: 60px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul li:not(:last-of-type) {
    margin-right: 100px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul:last-of-type {
    padding-right: 60px;
  }
  #search-wrapper .close-container ul {
    cursor: pointer;
  }
  #search-wrapper .close-container ul li {
    font-size: 18px;
  }
  #search-wrapper .search-container .fields input {
    font-size: 18px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .what-we-do {
    background-size: 170px;
  }
  #content-wrapper #home-page .what-we-do .custom-container {
    background-size: 170px;
  }
  #content-wrapper #home-page .what-we-do .custom-container .section-container {
    max-width: 750px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container {
    padding: 100px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .image-container {
    width: 50%;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .section-title, #content-wrapper #home-page .featured .custom-container .section-container .section-body {
    max-width: 60%;
  }
  #content-wrapper #home-page .project-slider.slick-slider .slick-prev {
    left: -20px;
  }
  #content-wrapper #home-page .project-slider.slick-slider .slick-next {
    right: -20px;
  }
  #content-wrapper #about-page .image-divider {
    padding-bottom: 40%;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item .section-container {
    padding: 60px;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(1), #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(4) {
    width: calc(100% - 500px);
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(2), #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(3) {
    width: 500px;
  }
  #content-wrapper #about-page .mission-container .custom-container .section-container {
    padding: 60px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child {
    padding-right: 40px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper .con-item .section-container {
    padding: 30px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:last-child {
    width: 400px;
  }
  #content-wrapper #single-product .product-intro .custom-container .block-wrapper .item-wrapper:last-child {
    padding: 0 0 0 80px;
  }
  #content-wrapper #single-page .gallery-item .type-main-gallery .inner {
    padding: 0 100px;
    height: 500px;
  }
  #content-wrapper #single-page .gallery-item .type-nav-gallery {
    margin: 0 -7.5px;
  }
  #content-wrapper #single-page .gallery-item .type-nav-gallery .inner {
    padding: 15px 7.5px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .custom-container .widget-wrapper {
    margin: 0 -40px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget {
    padding: 0 40px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper .card-item {
    width: 33.33%;
  }
  .common-banner .custom-container .section-title {
    max-width: 450px;
  }
  .common-banner .download-btn {
    right: 100px;
  }
  .common-table .inner table tr th, .common-table .inner table tr td {
    padding: 15px 10px;
  }
  .common-table .inner table tr:first-child th {
    padding: 15px;
  }
  .search-form input, .search-form select, .search-form textarea {
    padding: 15px 20px;
  }
  .social-widget li a .image-container {
    width: 50px;
    height: 50px;
    padding: 15px 0;
  }
  .slider-box .slick-slider .slick-prev {
    left: -30px;
  }
  .slider-box .slick-slider .slick-next {
    right: -30px;
  }
  .slider-box .slick-slider .slick-prev, .slider-box .slick-slider .slick-next {
    height: 40px;
    width: 40px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
}

@media all and (max-width: 1199px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 80px;
  }
  h1 {
    font-size: 28px;
    line-height: 32px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .featured .custom-container .section-container {
    padding: 80px;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item .section-container {
    padding: 50px;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(1), #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(4) {
    width: 50%;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(2), #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(3) {
    width: 50%;
  }
  #content-wrapper #about-page .mission-container .custom-container .section-container {
    padding: 50px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child {
    padding-right: 30px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper .con-item {
    width: 100%;
  }
  #content-wrapper #single-product .product-intro .custom-container .block-wrapper .item-wrapper:last-child {
    padding: 0 0 0 60px;
  }
  #content-wrapper #single-page .gallery-item .type-main-gallery .inner {
    padding: 0 80px;
    height: 500px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .common-banner .download-btn {
    right: 80px;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
}

@media all and (max-width: 999px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 60px;
  }
  .co-btn.type-fill {
    padding: 15px 20px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .top-wrapper .custom-container .info-widget li:not(:last-of-type) {
    display: none;
    margin-right: 30px;
  }
  #header-wrapper .menu-wrapper .custom-container {
    padding: 0;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper {
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
    padding: 15px 60px;
    position: initial;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .logo-wrapper {
    left: 60px;
    transform: translate(0, -50%);
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: #222222;
    position: fixed;
    padding-left: 0;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s all ease;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar .close-menu {
    display: block;
    padding: 18.5px 60px;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    cursor: pointer;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar .close-menu span {
    display: block;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul {
    display: block;
    width: 100%;
    padding-left: 0;
    margin-top: 40px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul li {
    padding: 0 60px;
    text-align: center;
    color: #ffffff;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul li a {
    color: #ffffff;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul li:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul:last-of-type {
    padding-right: 0;
    margin-bottom: 30px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .mobile-toggle {
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 2px;
    cursor: pointer;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .mobile-toggle span {
    display: block;
    font-size: 30px;
    font-variant: initial;
  }
  #header-wrapper .menu-wrapper .custom-container.menu-open .back-wrapper .nav-bar {
    opacity: 1;
    pointer-events: initial;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .what-we-do {
    background-size: 125px;
    background-position: top 0 left 30px;
  }
  #content-wrapper #home-page .what-we-do .custom-container {
    background-size: 125px;
    background-position: bottom 0 right 30px;
  }
  #content-wrapper #home-page .what-we-do .custom-container .section-container .block-wrapper {
    margin: -15px;
    margin-top: 60px;
    justify-content: center;
  }
  #content-wrapper #home-page .what-we-do .custom-container .section-container .block-wrapper .item-wrapper {
    padding: 15px;
    width: 50%;
  }
  #content-wrapper #home-page .what-we-do .custom-container .section-container .block-wrapper .item-wrapper .section-container {
    max-width: 100%;
  }
  #content-wrapper #home-page .what-we-do .custom-container .section-container .block-wrapper .item-wrapper .section-container .counter {
    font-size: 25px;
    line-height: 30px;
    height: 65px;
    width: 65px;
    margin-bottom: 20px;
  }
  #content-wrapper #home-page .what-we-do .custom-container .section-container .block-wrapper .item-wrapper .section-container .counter img {
    max-width: 40px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container {
    padding: 60px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .image-container {
    width: 50%;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .section-title, #content-wrapper #home-page .featured .custom-container .section-container .section-body {
    max-width: 60%;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .section-title span {
    margin-bottom: 15px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .section-links {
    margin-top: 30px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .section-links .co-btn {
    padding: 15px 20px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .section-links .co-btn:after {
    margin-left: 20px;
  }
  #content-wrapper #home-page .projects .custom-container .block-wrapper {
    margin: 0;
  }
  #content-wrapper #home-page .projects .custom-container .block-wrapper .item-wrapper {
    width: 100%;
    padding: 0;
  }
  #content-wrapper #home-page .projects .custom-container .block-wrapper .item-wrapper .image-container {
    padding-bottom: 60%;
  }
  #content-wrapper #home-page .projects .custom-container .block-wrapper .item-wrapper:not(:last-of-type) {
    margin-bottom: 30px;
  }
  #content-wrapper #home-page .project-slider.slick-slider .slick-prev {
    left: -10px;
  }
  #content-wrapper #home-page .project-slider.slick-slider .slick-next {
    right: -10px;
  }
  #content-wrapper #about-page .image-divider {
    padding-bottom: 50%;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item .section-container {
    padding: 0;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item .image-container {
    position: relative;
    height: auto;
    padding-bottom: 50%;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(1) {
    order: 1;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(2) {
    order: 2;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(1), #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(4) {
    width: 100%;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(2), #content-wrapper #about-page .history-container .custom-container .block-container .block-item:nth-child(3) {
    width: 100%;
  }
  #content-wrapper #about-page .history-container .custom-container .block-container .block-item:not(:last-of-type) {
    margin-bottom: 30px;
  }
  #content-wrapper #about-page .mission-container .custom-container .section-container {
    max-width: 100%;
    padding: 40px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper {
    flex-wrap: wrap;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child {
    padding-right: 0;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .section-container .section-body {
    margin-top: 30px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper .con-item {
    width: 50%;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper .con-item .section-container .section-body {
    margin-top: 15px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper .con-item .section-container .section-body ul {
    margin-top: 15px;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:last-child {
    width: 100%;
    margin-top: 60px;
  }
  #content-wrapper #projects-page .project-container {
    margin: -7.5px;
  }
  #content-wrapper #projects-page .project-container .project-item {
    padding: 7.5px;
  }
  #content-wrapper #single-product .product-intro .custom-container .block-wrapper .item-wrapper:last-child {
    padding: 0 0 0 40px;
  }
  #content-wrapper #single-product .more-specifications .custom-container {
    padding-top: 60px;
  }
  #content-wrapper #single-product .more-specifications .custom-container .common-flex-container {
    margin-bottom: 30px;
  }
  #content-wrapper #single-product .more-specifications .custom-container .common-technical {
    width: 100%;
    max-width: 900px;
  }
  #content-wrapper #single-product .more-specifications .custom-container .common-technical ul {
    column-count: 1;
    column-gap: 0;
  }
  #content-wrapper #single-page .gallery-item .type-main-gallery .inner {
    padding: 0 60px;
    height: 400px;
  }
  #content-wrapper #single-page .gallery-item .type-nav-gallery {
    margin: 0 -5px;
  }
  #content-wrapper #single-page .gallery-item .type-nav-gallery .inner {
    padding: 10px 5px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .custom-container .widget-wrapper {
    flex-wrap: wrap;
    margin: -30px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget {
    padding: 30px;
    width: 100%;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .logo-wrapper {
    max-width: 175px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .newsletter-widget input {
    padding: 15px 50px 15px 15px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .newsletter-widget input[type="submit"] {
    top: 20px;
  }
  #footer-wrapper .custom-container .widget-wrapper .footer-widget .info-widget:not(:last-of-type) {
    margin-bottom: 30px;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper {
    margin: -10px;
  }
  .card-wrapper .card-item {
    width: 50%;
    padding: 10px;
  }
  .card-wrapper .card-item .section-container .section-title {
    padding: 15px 20px;
  }
  .common-banner {
    min-height: 500px;
    height: calc(100vh - 98px);
    margin-top: 0;
  }
  .common-banner .banner-inner {
    min-height: 500px;
    height: calc(100vh - 98px);
  }
  .common-banner .custom-container {
    top: 45%;
    transform: translateY(-45%);
  }
  .common-banner .custom-container .section-links .co-btn {
    padding: 15px 20px;
  }
  .common-banner .custom-container .section-links .co-btn:after {
    margin-left: 20px;
  }
  .common-banner .download-btn {
    bottom: 60px;
    right: initial;
    left: 50%;
    transform: translateX(-50%);
  }
  .common-banner.type-small {
    height: 250px;
    min-height: 250px;
  }
  .common-banner.type-small .custom-container {
    top: 50%;
    transform: translateY(-50%);
  }
  .common-form .fields .form-group input, .common-form .fields .form-group select, .common-form .fields .form-group textarea {
    line-height: 1em;
    width: 100%;
    padding: 15px 20px;
    color: #303030;
    font-size: 16px;
    border: 1px solid #C0C0C0;
    background-color: #ffffff;
  }
  .common-flex-container {
    flex-wrap: wrap;
  }
  .common-flex-container .section-title, .common-flex-container .section-body {
    width: 100%;
    margin-left: 0;
  }
  .common-flex-container .section-body {
    margin-top: 20px;
  }
  .common-flex-container .section-body .co-btn {
    padding: 15px 20px;
  }
  .common-flex-container .section-body .co-btn:after {
    margin-left: 20px;
  }
  .social-widget li a .image-container {
    padding: 16px 0;
  }
  .slider-box .slick-slider.slick-dotted .slick-dots {
    bottom: 30px;
  }
  .slider-box .slick-slider .slick-prev {
    left: -20px;
  }
  .slider-box .slick-slider .slick-next {
    right: -20px;
  }
  .slider-box .slick-slider .slick-prev, .slider-box .slick-slider .slick-next {
    background: rgba(0, 0, 0, 0.1);
  }
  /*------------------------------------ Components Ends ------------------------------------*/
}

@media all and (max-width: 799px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container {
    padding: 60px 30px;
  }
  h4 {
    font-size: 16px;
    line-height: 20px;
  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  #header-wrapper .top-wrapper .custom-container .info-widget li:not(:last-of-type) {
    display: none;
    margin-right: 30px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper {
    border-radius: 0 0 10px 10px;
    padding: 15px 30px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .logo-wrapper {
    left: 30px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar .close-menu {
    padding: 18.5px 30px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul {
    margin-top: 30px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul li {
    padding: 0 30px;
  }
  #header-wrapper .menu-wrapper .custom-container .back-wrapper .nav-bar ul li:not(:last-of-type) {
    margin-bottom: 30px;
  }
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  #content-wrapper #home-page .what-we-do .custom-container .section-container .block-wrapper {
    margin: -15px;
    margin-top: 30px;
  }
  #content-wrapper #home-page .what-we-do .custom-container .section-container .block-wrapper .item-wrapper {
    padding: 15px;
    width: 100%;
  }
  #content-wrapper #home-page .featured .custom-container .section-container {
    padding: 0;
    padding-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .image-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  #content-wrapper #home-page .featured .custom-container .section-container .section-title, #content-wrapper #home-page .featured .custom-container .section-container .section-body, #content-wrapper #home-page .featured .custom-container .section-container .section-links {
    max-width: 100%;
    padding: 0 30px;
  }
  #content-wrapper #about-page .mission-container .custom-container .section-container {
    padding: 30px;
  }
  #content-wrapper #products-page .filer-box ul li ul {
    display: block;
  }
  #content-wrapper #products-page .filer-box .sub-menu {
    display: none;
  }
  #content-wrapper #contact-page .custom-container .block-wrapper .item-wrapper:first-child .con-wrapper .con-item {
    width: 100%;
  }
  #content-wrapper #projects-page .project-container {
    margin: -7.5px;
  }
  #content-wrapper #projects-page .project-container .project-item {
    padding: 7.5px;
    width: 100%;
  }
  #content-wrapper #single-product .product-intro .custom-container .block-wrapper .item-wrapper {
    width: 100%;
  }
  #content-wrapper #single-product .product-intro .custom-container .block-wrapper .item-wrapper:last-child {
    padding: 30px 0 0 0;
  }
  #content-wrapper #single-page .gallery-item .type-main-gallery .inner {
    padding: 0 30px;
    height: 300px;
  }
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  #footer-wrapper .custom-container.copyright div br {
    display: block;
  }
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  .card-wrapper {
    margin: -10px -5px;
  }
  .card-wrapper .card-item {
    padding: 10px 5px;
  }
  .common-flex-container {
    margin-bottom: 30px;
  }
  .common-flex-container .section-body {
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .common-flex-container .section-body p {
    width: 100%;
  }
  .common-flex-container .section-body .co-btn {
    margin-left: 0;
    margin-top: 18px;
  }
  .search-form .screen-reader-text {
    margin-bottom: 15px;
    display: inline-block;
  }
  .search-form input, .search-form select, .search-form textarea, .search-form label {
    width: 100%;
  }
  /*------------------------------------ Components Ends ------------------------------------*/
  /*-------------------------------------- Modal Starts -------------------------------------*/
  /*--------------------------------------- Modal Ends --------------------------------------*/
}

/*# sourceMappingURL=responsive.css.map */